<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Main">
    <v:if stack="{0: {0: data.tx_semcontent_vertical_position, 1: '!=', 2: '0'},
                  1: 'OR',
                  2: {0: data.tx_semcontent_horizontal_position, 1: '!=', 2: '0'}}">
        <f:then>
            <div class="{v:format.trim(characters: '\0',
                        content: '{data.tx_semcontent_vertical_position} {data.tx_semcontent_horizontal_position}')
                        -> v:format.trim()}">
                <f:render section="Content" arguments="{_all}" />
            </div>
        </f:then>
        <f:else>
            <f:render section="Content" arguments="{_all}" />
        </f:else>
    </v:if>
</f:section>

<f:section name="Content">
    <f:comment>Split sections</f:comment>
    <f:switch expression="{data.layout}">
        <f:case value="split-text-image">
            <f:render section="ColumnWrap" arguments="{_all}" />
        </f:case>
        <f:case value="split-text-text">
            <f:render section="ColumnWrap" arguments="{_all}" />
        </f:case>
        <f:case value="split-image-text">
            <f:render section="ColumnWrap" arguments="{_all}" />
        </f:case>
        <f:case value="split-image-responsive-html">
            <f:render section="ColumnWrap" arguments="{_all}" />
        </f:case>
        <f:case value="split-image-image">
            <f:render section="ColumnWrap" arguments="{_all}" />
        </f:case>
        <f:case default="true">
            <f:comment>Default section</f:comment>
            <f:format.raw>{content}</f:format.raw>
        </f:case>
    </f:switch>
</f:section>

<f:section name="ColumnWrap">
    <div>
        <div class="column">
            <f:format.raw>{content}</f:format.raw>
        </div>
    </div>
</f:section>

</html>