<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ls-template" >
	<tr>
		<td>
			<f:translate key="tx_lstemplate_domain_model_subscription.title" />
		</td>
		<td>
		{subscription.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lstemplate_domain_model_subscription.description" />
		</td>
		<td>
		{subscription.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lstemplate_domain_model_subscription.price" />
		</td>
		<td>
		{subscription.price}
		</td>
	</tr>
</table>
</html>