// Links ====================
.button-link {
  display: inline-block;
  position: relative;
  color: $white;
  font-size: 16px;
  cursor: pointer;

  &:after {
    @include fa();
    content: "\f105";
    margin-left: 10px;
  }

  &:hover {
    color: inherit;
  }
}
// END Links ===================

// Buttons ===================================
// .btn-red-raspberry
.violet {
  @include default-btn($raspberry-red, $white);
}

// .btn-ice-blue,
.button-default,
main .btn.btn-default {
  @include default-btn($ice-blue, $white);
}

// .btn-mango,
.yellow {
  @include default-btn($mango, $white);
}

// .btn-graphite-black,
.btn-dark-gray {
  @include default-btn($graphite-black, $white);
}
// END Buttons ===========================

// Backgrounds ==============================
// .bg-lime-green,
.green {
  @include bg($lime-green, $white);
}

// .bg-dark-blue,
.ox-blue {
  @include bg($dark-blue, $white);
}

// .bg-silver-grey,
.light-gray {
  @include bg($silver-grey, $black);

  hr {
    border-color: $grey!important;
  }
}

// .bg-medium-blue,
.medium-blue {
  @include bg($medium-blue, $white);
}

.gray {
  @include bg(#474747, $white);
}

// .bg-ice-blue,
.light-blue {
  @include bg($ice-blue, $white);
  @extend .links-except;
}

// .bg-graphite-black,
.dark-gray {
  @include bg($graphite-black, $white);

  .cover-flow-wraper .title {
    ul li > i,
    ul li > span {
      color: $white!important;
    }
  }

  p,
  a:not(.lb-video) {
    color: $white!important;
  }
}
// END Background ========================
