<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<div class="shop bg-img">
		<f:image src="EXT:ls_template/Resources/Public/markup/images/bg-shop.png" alt="alt text" />
		<h2 class="ttl">{settings.header}</h2>
		<div class="container">
			<div class="sidebar">
				<div class="filter-holder">
					<form action="#">
						<div class="check-holder">
							<h4 class="ttl-check">Категорія товару:</h4>
							<div class="check-item">
								<input type="checkbox" id="check-01" class="checkbox">
								<label for="check-01">Кардіотренажери</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-02" class="checkbox">
								<label for="check-02">Фітнес</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-03" class="checkbox">
								<label for="check-03">Степпери</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-04" class="checkbox">
								<label for="check-04">Гантелі, Грифи, Диски</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-05" class="checkbox">
								<label for="check-05">Спортивне харчування</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-06" class="checkbox">
								<label for="check-06">Силове обладнання</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-07" class="checkbox">
								<label for="check-07">Вібромасажери</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-08" class="checkbox">
								<label for="check-08">Акції</label>
							</div>
						</div>
						<div class="check-holder responsive-width">
							<h4 class="ttl-check">Ціна</h4>
							<div id="box-range">
								<div id="slider-range"></div>
								<div class="amount-holder">
									<span id="amount-1" class="amount"></span>
									<span id="amount-2" class="amount"></span>
								</div>
							</div>
						</div>
						<div class="check-holder">
							<h4 class="ttl-check">Тип тренування</h4>
							<div class="check-item">
								<input type="checkbox" id="check-09" class="checkbox">
								<label for="check-09">Схуднення</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-10" class="checkbox">
								<label for="check-10">Набирання маси</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-11" class="checkbox">
								<label for="check-11">Фітнес</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="check-12" class="checkbox">
								<label for="check-12">Аеробіка</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<f:for each="{simulators}" as="item">
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<f:image image="{item.images.0}" alt="{item.images.0.alternative}" title="{item.images.0.title}" />
								</div>
								<div class="text">
									<h4>{item.title}</h4>
									<small class="price">{item.price}</small>
								</div>
								<div class="hover-box">
									<f:link.page pageUid="{settings.detailPid}" class="btn btn-red">{settings.linkTitle}</f:link.page>
								</div>
							</div>
						</div>
					</f:for>
				</div>
			</div>
		</div>
	</div>
</f:section>
</html>