<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <div class="shop single-page bg-img">
        <div class="container">
            <h2 class="ttl">{simulators.title}</h2>
            <div class="row">
                <div class="col-12 col-md-5 col-lg-3">
                    <div class="slider-04">
                        <f:for each="{simulators.images}" as="image">
                            <div>
                                <div class="thumbnail">
                                    <div class="main-img">
                                        <f:image image="{image}" alt="{image.alternative}" title="{image.title}" />
                                    </div>
                                </div>
                            </div>
                        </f:for>
                    </div>
                    <div class="slider-nav">
                        <f:for each="{simulators.images}" as="image">
                            <div>
                                <div class="thumbnail">
                                    <div class="main-img">
                                        <f:image image="{image}" alt="{image.alternative}" title="{image.title}" />
                                    </div>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-9">
                    <div class="detail-information">
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <dl>
                                    <dd>
                                        <f:translate key="tx_lssimulators_domain_model_subscription.price" />: <b>{simulators.price} <f:translate key="tx_lssimulators_domain_model_subscription.currency" /></b>
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-12 col-lg-3">
                                <f:link.action action="cart" class="btn btn-black2" arguments="{simulators:simulators}"><f:translate key="tx_lssimulators_domain_model_subscription.buy" /></f:link.action>
                            </div>
                        </div>
                    </div>
                    <!-- /detail-information -->
                    <h4><f:translate key="tx_lssimulators_domain_model_subscription.characteristic" /></h4>
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE_simulator">{simulators.description}</f:format.html>
                </div>
            </div>
            <div class="similar-products">
                <h2 class="ttl"><f:translate key="tx_lssimulators_domain_model_subscription.similar_products" /></h2>
                <div class="row slider-05">
                    <f:for each="{similar}" as="item">
                        <div class="col-3">
                            <div class="thumbnail small-width">
                                <div class="main-img">
                                    <f:image image="{item.images.0}" alt="{item.images.0.alternative}" title="{item.images.0.title}" />
                                </div>
                                <div class="text">
                                    <h4>{item.title}</h4>
                                    <small class="price">{item.price} <f:translate key="tx_lssimulators_domain_model_subscription.currency" /></small>
                                </div>
                                <div class="hover-box">
                                    <f:link.action action="show" class="btn btn-red" arguments="{simulators:item}">{settings.linkTitle}</f:link.action>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                    </f:for>
                </div>
            </div>
            <!-- /similar-products -->
        </div>
    </div>
</f:section>
</html>