<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="video-section" class="h{data.tx_semoxcontent_height}{f:if(condition: ffContent.textColorWhite, then: ' text-white', else: '')}">
    <div class="container">

        <div>
            <f:format.html>{data.tx_semoxcontent_text}</f:format.html>
        </div>

        <span id="image-src" data-image="{image.publicUrl}" class="hidden"></span>
        <span id="video-src" data-video="{media.publicUrl}" class="hidden"></span>
        <span id="height" data-height="{data.tx_semoxcontent_height}" class="hidden"></span>
    </div>
</div>
</html>
