<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="HeaderContentFooter" />

<f:section name="content">
    <v:if stack="{1: data.menu_type, 2: '==', 3: '0', 4: 'AND', 5: data.layout, 6 : '==', 7: '1'}">
        <f:then>
            <f:render partial="Menu/Type0" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render partial="Menu/Type-{data.menu_type}" arguments="{_all}" />
        </f:else>
    </v:if>
</f:section>
</html>