<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="c{data.uid}">
    <div class="micro-banners">
        <f:for each="{microBanners}" as="microBanner">
            <div class="{microBanner.background}">
                <v:media.exists file="{microBanner.image.originalResource.publicUrl}">
                    <f:image image="{microBanner.image}" height="384" width="768" />
                </v:media.exists>

                <div class="description">
                    <h2>{microBanner.title}</h2>

                    <f:if condition="{microBanner.bodytext}">
                        <f:format.raw>{microBanner.bodytext}</f:format.raw>
                    </f:if>
                </div>
            </div>
        </f:for>
    </div>
</div>
</html>