<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="c{data.uid}">
    <v:variable.set name="moodImage" value="{images -> v:iterator.first()}" />
    <v:media.exists file="{moodImage.publicUrl}">
        <f:link.typolink parameter="{moodImage.link}">
            <f:image image="{moodImage}" class="img-responsive mood-image full-width" />
        </f:link.typolink>
    </v:media.exists>
</div>