
<section class="ox-blue no-padding-top-bottom custom-grid no-gutters">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="c539" >
                    <div class="ce-textpic ce-right ce-above">
                        <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                            <div class="ce-row">
                                <div class="ce-column">
                                    <div class="ce-media">
                                        <div class="bg-white column">
                                            <img src="https://s23.postimg.org/ewrgmu1a3/2016_12_07_17_11_40.png" alt="">

                                            <h2>
                                                Power DNS <strong>Package</strong>
                                            </h2>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <ul>
                                                        <li>
                                                            <b>Bulletpoint 1</b>
                                                            <br>
                                                            <p> New Line with [shift]+ [enter]</p>
                                                            <p>
                                                                <a href="/customer-portal-welcome/ox-partners/" class="external-link">Learn more</a>
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <b>Bulletpoint 2</b>
                                                        </li>
                                                        <li>
                                                            <b>Bulletpoint 3</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-6">
                                                    <ul>
                                                        <li>
                                                            <b>Bulletpoint 4</b>
                                                            <p> New Line with [shift]+ [enter]
                                                                any text you want to put here :)
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <b>Bulletpoint 5</b>
                                                        </li>
                                                        <li>
                                                            <b>Bulletpoint 6</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <p>
                                                <a href="/customer-portal-welcome/private-area/" class="btn-dark-gray">
                                                    Download Datascheet
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ce-bodytext"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="background-image" style="background-image: url('http://open-xchange.lh/fileadmin/user_upload/images/portfolio/new_product_pages_dummy_assets/DNS_Power_Package_Key_Visual.jpg');"></div>
            </div>
        </div>
    </div>
</section>