<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="c{data.uid}">
    <f:if condition="{items}">
        <f:then>
            {items -> f:count() -> v:variable.set(name: 'count')}

            <f:if condition="{count} > 4">
                {v:variable.set(name: 'count', value: 4)}
            </f:if>

            <section class="product-teaser">
                <div class="container-fluid">
                    <f:for each="{items -> v:iterator.chunk(count: count, fixed: 0)}" as="chunk">
                        <div class="row">
                            <f:for each="{chunk}" as="item">
                                <f:render partial="ProductTeaser/Item" section="Content" arguments="{item: item, count: count}" />
                            </f:for>
                        </div>
                    </f:for>
                </div>
            </section>
        </f:then>
        <f:else>
            <section class="product-teaser">
                <div class="container">
                    <p>{f:translate(id: 'no_entries', extensionName: 'SemOxContent')}</p>
                </div>
            </section>
        </f:else>
    </f:if>
</div>

</html>
