<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:o="http://typo3.org/ns/Media711/SemOxContent/ViewHelpers"
      xmlns:ox="http://typo3.org/ns/Media711/SemOxContent/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Content" />

<f:section name="Main">
    <a name="c{data.uid}"></a>
    <div id="c{data.uid}" class="{data.tx_semoxcontent_slider_layout}{f:if(condition: backgroundColor, then: ' {backgroundColor}')}{o:iterator.inArray(needle: data.parentgrid_tx_gridelements_backend_layout, haystack: settings.deprecatedGrids, else: '{o:content.appearanceClass(data: data, wrap: false)}')}">
        <f:switch expression="{data.tx_semoxcontent_slider_layout}">
            <f:case value="testimonials">
                <f:render partial="Slider/Testimonials" arguments="{_all}" />
            </f:case>
            <f:case value="image-slider">
                <f:render partial="Slider/SplitSectionSlider" arguments="{_all}" />
            </f:case>
            <f:case value="text-slider">
                <f:render partial="Slider/TextSlider" arguments="{_all}" />
            </f:case>
            <f:case default="home-slider">
                <div class="owl-carousel"
                     data-speed="{ox:Slider.Delay(autoplay: ffContent.autoplay, delay: ffContent.delay)}"
                     data-change-speed="{f:if(condition: ffContent.speed, then: ffContent.speed, else: '500')}">
                    <f:for each="{slider}" as="slide">
                        <f:render partial="Slider/Slide" arguments="{slide: slide, globalLinkText: globalLinkText}" />
                    </f:for>
                </div>
            </f:case>
        </f:switch>
    </div>
</f:section>

</html>