@media (max-width: $screen-xs-max) {

  .no-padding-on-mobile {
    .padding-top-default, .padding-bottom-default {
      padding: 0;
    }
  }

  .slide-left, .slide-up, .slide-right {
    @include translate(0,0);
    opacity: 1;
  }

  section.no-padding-top-bottom .row>div .background-image {
   height: auto;
  }

  .mm-listview .try-now {
    display: block;
    background: $light-blue;
  }

  .home-slider {
    .item {
      min-height: 460px;

      img {
        margin: auto;
      }
    }

    .slider-content,
    figure {
      text-align: center;
    }

    .slick-arrow {
      display: none!important;
    }
  }

  .cover-flow-wraper {
    .slick-arrow:before {
      font-size: 50px;
    }

    .title {
      padding: 0 40px;

      h3 {
        font-size: 18px;
      }
    }
  }

  section {
    &.split-jurney {
      padding: 0;

      .row > div {
        padding-bottom: 25px !important;
      }

      .wrapper {
        display: table;

        .content {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &.blue-gradient {
      .h1,
      h1 {
        text-align: center;
      }

      &.default-section {
        padding: 35px 0;
      }
    }

    &.parallax-bg {
      @include cover();
    }

    &.split-image-responsive-html > .row {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      & > div:last-child {
        height: 350px;
      }
    }

    &.no-padding-top-bottom .background-image {
      min-height: 300px;
    }

    &.home-hub {
      form {
        padding-top: 0;
        padding-bottom: 0;
      }

      .news-column {
        padding: 0;

        h2 {
          margin-bottom: 0;
        }
      }

      .jobs-column {
        padding: 0 15px;
      }
    }

    &.quote .text-bottom {
      margin-bottom: 0;
    }

    &.speakers-grid img {
      display: block;
    }
  }

  .video-banner ul {
    margin-bottom: 15px;
  }

  .videos-list {
    .row + .row {
      margin-top: 0;
    }

    .row {
      flex-direction: column;
    }

    .video-item {
      margin-bottom: 65px;

      img {
        width: 100%;
      }
    }
  }

  .text-bottom,
  .text-center-vertical {
    h1 {
      font-size: 32px;
      line-height: 1.2;
    }
  }

  .contact-form {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
  }

  .summit-teaser .teaser-item {
    display: block;
    width: 100%;
    padding: 60px 0;

    h2 {
      font-size: 38px;
    }
  }

  .min-gutters .row div[class*="col-"] .slide-item .title {
    margin-bottom: 20px;

    h3 {
      font-size: 20px;
    }
  }

  .titles {
    margin-bottom: 30px;

    h3 {
      font-size: 20px;
      line-height: 22px;
    }
  }

  .btn-large-oxgrey {
    width: 100%;
  }

  .micro-banners > div {
    width: 100%;

    h2 {
      font-size: 50px!important;
    }
  }

  .sen-ox-speakers .speakers-panel {
    .panel-title {
      flex-direction: column;
      align-items: center;

      .speaker-title {
        padding-left: 0;
        width: 95%;
        margin-left: 0;
        text-align: center;

        p {
          padding-left: 0;
        }

        a {
          padding-left: 15px;
          padding-right: 15px;

          &:before {
            left: 0;
          }
        }
      }
    }

    .first-col {
      padding-right: 40px !important;
      padding-left: 40px !important;
    }

    .second-col {
      padding-right: 40px !important;
      padding-left: 40px !important;
    }

    .accordeon-content-bio .speakers-accordeon-list {
      text-align: left;
      margin: 0 auto;
      width: 230px;
    }

    .accordeon-content-social .speakers-accordeon-list {
      text-align: left;
      width: 95px;
    }

    .accordeon-content-web a:before {
      left: 0;
    }

    .panel-collapse {
      padding-left: 0;
    }
  }

  .slick-arrow {
    display: none !important;
  }

  .mobile-svg-wrapper {
    .slick-arrow {
      display: block !important;
    }
  }

  .testimonials {
    .slick-arrow {
      display: none !important;
    }

    .slider-image {
      margin-bottom: 10px;
    }

    .slick-track {
      display: block;

      span {
        display: block;
      }
    }

    .item {
      flex-direction: column;
      padding: 0!important;
      height: auto !important;

      .text-wrapper {
        padding: 0px;
      }

      p {
        text-align: center;

        span {
          font-size: 10px !important;
        }
      }
    }
  }

  .sponsors .gold-sponsors div {
    width: 100%;
  }

  div:not(.ce-center) > .ce-gallery {
    width: 100%;
    @include flex();
    justify-content: center;
    align-items: flex-start;
  }

  .pie-chart-section .text-wrapper {
    padding: 0;
  }

  .newsroom-wrapper {
    .filter-bar {
      padding-top: 61px;
      flex-direction: column;

      .news-sort .arrow-down {
        margin: 0;
      }
    }

    .news-filter .arrow-down span,
    .news-sort .arrow-down span {
      display: none;
    }

    .grid .item-width-2x {
      flex-direction: column;

      .flickr-album,
      .news-img-wrapper {
        text-align: center;
        display: inline-block;

        a,
        img {
          display: inline-block;
        }
      }
    }
  }

  .agenda.simple {
    .panel-collapse .table-responsive table tr td.times {
      width: auto;
    }

    .panel-collapse .table-responsive table tr td.categorys {
      width: auto;
    }
  }

  .cookie-banner {
    .container {
      flex-direction: column;

      .cookie-text {
        margin: 15px 0;
      }

      .btn-ice-blue {
        margin: 0 0 15px;
      }
    }
  }

  .blog-list {
    .article-list article {
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    nav[aria-label*="Page"] {
      padding-top: 15px;
    }
  }

  .blog-detail {
    .article-tag-list {
      display: block;
    }

    .blog-article-text {
      margin-top: 0;
      margin-bottom: 15px;
    }

    .blog-sidebar {
      .about-article-sidebar-title {
        margin-bottom: 30px;
      }

      .about-author {
        padding-bottom: 25px;
        margin-bottom: 25px;
      }
    }
  }

  .newsroom-wrapper .grid {
    .l-newsroom-blog .newsroom-blog-items .most-popular-item {
      width: 100%;
    }

    .l-press-release .press-release-items .press-release-item,
    .l-press-release .press-release-items .press-release-more {
      width: 100%;
    }
  }

  .jobs-dropdown {
    width: 100%;
  }

  .row.flex {
    display: block!important;
  }

  .column {
    padding-left: 25px;
    padding-right: 25px;
  }

  .mfp-content {
    width: 100%!important;

    .ce-bodytext {
      width: 100%;
    }

    .ce-above .ce-gallery,
    .ce-intext .ce-gallery {
      padding-bottom: 50px;
    }

    .ce-below .ce-gallery {
      padding-top: 50px;
    }
  }

  .locations-map-wrapper a:hover {
    opacity: 1!important;
  }

  .ce-column {
    margin-right: 0;
  }

  .bg-mobile {
    width: 100%;
    height: auto;
  }
}
@media (min-width: $screen-xs-mid-max) and (max-width: $screen-xs-max) {
  section {
    &.full-height-bg {
      background-position: 50% 40%;

      .overlay {
        height: 100%;
      }
    }
  }

  .jumbotron {
    font-size: 38px;
  }
}
@media (min-width: $screen-xs-mid-max) {
  section {
    &.full-height-bg {
      * {
        color: $white;
      }

      .container,
      .row,
      div[class*="col-"] {
        height: 100%;
      }

      img {
        display: none;
      }
    }

    &.leadership-team .management-wrapper {
      .small-img {
        display: block;
      }

      .full-img {
        display: none;
      }
    }
  }
}
@media (min-width: $screen-xs-mid-max) and (max-width: $screen-sm-max) {
  section.full-height-bg {
    &,
    .overlay {
      height: 500px;
    }
  }
}
@media (max-width: $screen-xs-mid-min) {
  section {
    &.full-height-bg {
      text-align: center;

      img {
        width: 100%;
        height: auto;
        display: none;
      }

      .container {
        min-height: auto!important;
        padding-top: $container-padding;
        padding-bottom: $container-padding;
      }

      .text-bottom {
        width: 100%;
        position: relative;
        max-width: 100%;
        margin-bottom: 0;

        ul {
          text-align: left;
        }

        h1,
        h2 {
          margin-top: 20px;
        }
      }

      .overlay {
        height: auto;
        background: rgba(255,255,255,0);
      }
    }

    &.blue-text-bg {
      background-color: #00a0e1;
      background-image: none;

      .text-bottom {
        height: 500px;
        margin-bottom: 0;
        color: #fff;
        background-color: #00a0e1;
        text-align: left;
        padding-top: 140px;
        padding-left: 15px;
        position: relative;
      }
    }

    &.leadership-team .management-wrapper {
      .small-img {
        display: none;
      }

      .full-img {
        display: block;
      }
    }
  }

  .popup-wrapper .popup-content {
    padding: 80px 20px;
  }

  .jumbotron {
    font-size: 30px;
  }

  .mfp-wrap {
    height: 100vh;

    .mfp-content {
      height: 100%;
    }

    .mfp-close {
      top: -15px;
      right: 15px !important;
    }
  }

  .newsroom-mfp {
    .mfp-content {
      height: auto;

      .mfp-close {
        width: 23px;
        height: 23px;
        font-size: 20px;
      }
    }

    .mfp-arrow.mfp-arrow-left,
    .mfp-arrow.mfp-arrow-right {
      width: 75px;

      &:before {
        font-size: 40px;
      }
    }
  }

  .newsroom-wrapper {
    .filter-bar {
      padding-right: 5px;
      padding-left: 5px;

      .news-filter {
        padding-left: 15px;
      }
    }

    .grid {
      .grid-sizer {
        width: 100%!important;
      }

      .grid-item {
        width: 100%!important;
      }
    }
  }

  .countdown {
    padding-left: 0;
    padding-right: 0;

    .countdown-place {
      width: 50%;
      display: block;
      margin: 0 auto;
      text-align: center;

      span {
        padding: 0;
      }
    }

    .countdown-time {
      display: block;
      margin: 0 auto;
      padding-right: 40px;
      text-align: center;
      width: 310px;

      .lable {
        a {
          top: 63%;
          left: 89%;

          &:before {
            font-size: 22px;
          }
        }

        span {
          &:first-child {
            font-size: 14px;
          }

          &:last-child {
            font-size: 36px;
          }
        }
      }
    }
  }

  header .container {
    padding: 0 25px;
  }

  .locations-mfp {
    .mfp-close {
      top: 15px;
    }

    .mfp-container .mfp-content .location-detail {
      padding: 0 10px;
    }
  }

  .padding-top-xl, .padding-top-large {
    padding-top: 50px;
  }

  .padding-bottom-xl, .padding-bottom-large {
    padding-bottom: 50px;
  }
}
