<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<v:media.exists file="{file.publicUrl}">
    <v:media.picture src="{file.publicUrl}" alt="" additionalAttributes="{class: 'full-width{f:if(condition: gallery.animated, then: \' slide-right\')}'}">
        <v:media.source media="(min-width: 1921px)"  width="3840c"  />
        <v:media.source media="(min-width: 1025px)"  width="1920c" />
        <v:media.source media="(min-width: 769px)"   width="1024c"  />
        <v:media.source media="(min-width: 768px)"   width="768c"  />
        <v:media.source width="1920c" />
    </v:media.picture>
</v:media.exists>
</html>