<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="item">
    <div class="container">
        <div class="row">
            <div class="col-sm-6{f:if(condition: '{slide.imagePos} == \'left\'', then: ' col-sm-push-6')}">
                <div class="slider-content">
                    <f:if condition="{slide.subtitle}">
                        <p class="h5">{slide.subtitle}</p>
                    </f:if>

                    <h1><b>{slide.title}</b></h1>

                    <f:if condition="{slide.text}">
                        <p class="h1">{slide.text}</p>
                    </f:if>

                    <v:if stack="{0: {0: slide.linkLabel, 1: 'AND', 2: slide.link},
                                  1: 'OR',
                                  2: {0: globalLinkText, 1: 'AND', 2: slide.link}}">

                        <f:link.typolink parameter="{slide.link}" class="button-default">
                            <f:if condition="{slide.linkLabel}">
                                <f:then>
                                    {slide.linkLabel}
                                </f:then>
                                <f:else>
                                    {globalLinkText}
                                </f:else>
                            </f:if>
                        </f:link.typolink>
                    </v:if>
                </div>
            </div>

            <div class="col-sm-6{f:if(condition: '{slide.imagePos} == \'left\'', then: ' col-sm-pull-6')}">
                <figure>
                    <v:media.exists file="{slide.image.originalResource.publicUrl}">
                        <f:image image="{slide.image}" />
                    </v:media.exists>
                </figure>
            </div>
        </div>
    </div>
</div>

</html>