<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:ox="http://typo3.org/ns/Media711/SemOxContent/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="owl-carousel" data-speed="{ox:Slider.Delay(autoplay: ffContent.autoplay, delay: ffContent.delay)}"
                          data-change-speed="{f:if(condition: ffContent.speed, then: ffContent.speed, else: '500')}">
    <f:for each="{slider}" as="slide">
        <v:if stack="{0: slide.image, 1: 'OR', 2: slide.text, 3: 'OR', 4: slide.author, 5: 'OR', 6: slide.posture}">
            <div class="item">
                <v:media.exists file="{slide.image.originalResource.publicUrl}">
                    <f:link.typolink parameter="{slide.image.originalResource.link}" class="slider-link">
                        <f:image image="{slide.image}" class="slider-image" maxHeight="120" maxWidth="120" />
                    </f:link.typolink>
                </v:media.exists>
                <div class="text-wrapper">
                    <v:if stack="{0: slide.text, 1: 'OR', 2: slide.author, 3: 'OR' , 4: slide.posture}">
                        <h6>
                            <f:if condition="{slide.text}">
                                &#8220;{slide.text}&#8221;
                            </f:if>
                            <f:if condition="{slide.author}">
                                <span>{slide.author},</span>
                            </f:if>
                            <f:if condition="{slide.author}">
                                <span>{slide.posture}</span>
                            </f:if>
                        </h6>
                    </v:if>
                </div>
            </div>
        </v:if>
    </f:for>
</div>
</html>
