<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:ox="http://typo3.org/ns/Media711/SemOxContent/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="testimonials">
    <div class="owl-carousel" data-speed="{ox:Slider.Delay(autoplay: ffContent.autoplay, delay: ffContent.delay)}"
                              data-change-speed="{f:if(condition: ffContent.speed, then: ffContent.speed, else: '500')}">
        <f:for each="{slider}" as="slide">
            <v:if stack="{0: slide.bodytext}">
                <div class="item">
                    <div class="text-wrapper">
                        <f:format.html>{slide.bodytext}</f:format.html>
                    </div>
                </div>
            </v:if>
        </f:for>
    </div>
</div>
</html>
