<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<header>
    <div class="cookie-banner hidden">
        <div class="container">
            <p class="cookie-text">
                <span><f:translate id="cookies.label" extensionName="SemOxContent" /></span>
                <f:translate id="cookies.body.0" extensionName="SemOxContent" />
                <f:link.page pageUid="45" target="_blank">
                    <f:translate id="cookies.privacy_policy" extensionName="SemOxContent" />
                </f:link.page>
                <f:translate id="cookies.body.1" extensionName="SemOxContent" />
                <f:link.external uri="https://open-xchange.piwik.pro/index.php?module=CoreAdminHome&action=optOut&language=en"
                                 target="_blank">here</f:link.external>.
            </p>
            <a class="btn-ice-blue">OK</a>
        </div>
    </div>
    <div class="container">
        <figure class="logo-wrapper">
            <f:cObject typoscriptObjectPath="lib.logo" />
        </figure>

        <div class="pull-right">
            <nav class="off-navigation">
                <!--<f:cObject typoscriptObjectPath="lib.headerNavigationMobile" />-->

                <ul class="hidden-sm hidden-xs new-menu">
                    <f:cObject typoscriptObjectPath="lib.headerNavigation" />
                    <f:cObject typoscriptObjectPath="lib.searchAnchor" />
                </ul>

            </nav>


            <div class="nav-icon-mobile visible-sm visible-xs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="visible-sm visible-xs search-toggler">
                <f:cObject typoscriptObjectPath="lib.searchAnchor" />
            </div>

        </div>

        <f:cObject typoscriptObjectPath="lib.mainNavigation" />

        <f:cObject typoscriptObjectPath="lib.careerNavigation" />
    </div>
    <div class="submenu">
        <div class="whitepart"></div>
    </div>
    <div class="mobmenu visible-sm visible-xs">
        <div class="whitepart">
            <ul class="new-menu">
                <f:cObject typoscriptObjectPath="lib.headerNavigation" />
            </ul>
        </div>
    </div>
</header>
</html>
