.info-gym {
	padding: 0 0 20px;
	text-align: center;
	.embed-responsive{
		position: relative;
	}
	.dots-list {
		margin-left: -4px;
	}
	@include media("<desktop") {.embed-responsive{margin-bottom: 15px;}}
	@include media(">=desktop") {
		.col-lg-6 {
			max-width: none;
			flex: 1 0 auto;
			width: 50%;
		}
	}
}
// info-gym
.slider-holder {
	position: relative;
	margin-bottom: 30px;
	&.bg-img{background-size: auto 100%;}
	@include media("<desktop") {
		&.bg-img {
			background: none !important;
		}
	}
}
// slider-holder
.shop {
	padding: 0 0 40px;
	text-align: center;
	position: relative;
	background-position: 50% 50px;
	background-size: auto 100%;
	h2{
		&.ttl{
			&:before{
				max-width: 174px;
				margin: 0 auto;
				@include media("<tablet") {width: auto;}
			}
		}
		@include media("<tablet") {margin-bottom: 30px;}
	}
	.detail-information{
		text-align: left;
		margin-bottom: 40px;
		h2{color: $red;}
		dl{
			text-transform: uppercase;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: 600;
			margin: 0;
			b{font: 700 17px/1 $oswald;}
			dt{
				flex: 0 0 50%;
				max-width: 50%;
				font-weight: 600;
			}
			dd{
				flex: 0 0 50%;
				max-width: 50%;
				margin: 0;
			}
		}
		.btn{width: 100%;}
		+ h4{
			text-align: left;
			margin-bottom: 10px;
		}
		@include media("<desktop") {
			dl{margin-bottom: 15px;}
			.btn{width: 50%;}
		}
		@include media("<tablet") {
			margin-bottom: 30px;
			h2{margin-bottom: 20px;}
			dl{
				font-size: 12px;
				display: block;
				dt{
					max-width: none;
					margin-bottom: 10px;
				}
				dd{max-width: none;}
			}
			.btn{width: 100%;}
		}
	}
	&:not(.single-page){
		.container{
			display: flex;
			z-index: 10;
			padding: 0;
		}
	}
	.sidebar {
		width: 29.5%;
		height: auto;
		padding: 40px;
		margin-right: 30px;
		background: $black-2;
		border-radius: 3px;
		text-align: left;
		h4 {color: $white;}
	}
	.thumbnail {
		background: $white;
		position: relative;
	}
	[class*="col"] {margin-bottom: 30px;}
	.content {
		width: 70.5%;	
		position: relative;
		.list-pagination {
			position: relative;
			text-align: right;
		}
	}
	@include media("<desktop") {
		background-size: auto;
		.container{
			flex-direction: column;
		}
		.sidebar,
		.content {
			min-width: auto;
			width: 100%;
		}
		.sidebar {
			margin-bottom: 15px;
			padding: 15px;
		}
		form {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.check-holder {
				margin-bottom: 0;
				&.responsive-width {
					order: -1;
					width: 100%;
					margin-bottom: 15px;
				}
			}
			.check-holder:not(.responsive-width) {
				width: 50%;
			}
		}
	}
	@include media("<tablet") {
		background: none !important;
		&:not(.single-page){
			.container {padding: 0 15px;}
		}
		form {
			flex-direction: column;
			.check-holder:not(.responsive-width) {
				width: 100%;
			}
			.check-holder {
				margin-bottom: 15px;
				&:last-child {margin-bottom: 0;}
			}
		}
		.content {
			.list-pagination {
				text-align: center;
			}
		}
	}
}
// shop
.discount {
	width: 55px;
	height: 55px;
	background: $red;
	position: absolute;
	top: 3px;
	right: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		vertical-align: top;
		width: 22px;
		height: auto;
	}	
	@include media("<tablet") {
		width: 50px;
		height: 50px;
		img {width: 18px;}
	}
}
// discount
.relative-item{
	padding-bottom: 60px;
	margin-bottom: 30px;
	.holder{
		position: relative;
		top: -60px;
		background-color: $white;
		padding: 40px;
		text-align: center;
	}
	@include media("<desktop") {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	@include media("<tablet") {
		padding-bottom: 0;
		margin-bottom: 20px;
		.holder{
			top: -50px;
			padding: 30px 15px;
		}
	}
}
// relative-item
.plans-column{
	margin-bottom: 100px;
	text-align: center;
	h2{margin-bottom: 77px;}
	.plans-holder{
		background-size: auto 85%;
		padding-bottom: 50px;
		position: relative;
	}
	.row{
		margin: 0 -7px;
		justify-content: center;
		[class*="col"]{
			padding: 0 7px 45px;
			flex: 1 0 auto;
			max-width: none;
		}
		@include media(">=tablet") {.col-md-3{width: 25%;}}
		&.slider-06{
			position: static;
			margin-top: -37px;
			.slick-slide{color: $black-2;}
			[class*="col"] {padding-bottom: 0;}
			.slick-arrow{
				font-size: 0;
				left: 0;
				background: transparent;
				border: none;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				left: 0;
				width: 70px;
				height: 70px;
				background: #333132;
				z-index: 50;
				&:hover{opacity: .7;}
			    &:after{
			    	content: '';
					position: absolute;
					background: url(../images/ico-left_arrow.svg);
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					width: 12px;
					height: 22px;
			    }
			    &.slick-next{
					left: auto;
					right: 0;
					&:after{
						-webkit-transform: translate(-50%, -50%) rotate(180deg);
						transform: translate(-50%, -50%) rotate(180deg);
					}
			    }
			}
		}
	}
	@include media("<desktop") {
		margin-bottom: 30px;
		.plans-holder{
			padding-bottom: 30px;
			background-size: auto 70%;
		}
	}
	@include media("<tablet") {
		margin-bottom: 0;
		.plans-holder{padding-bottom: 0;}
		.slider-06{
			margin-bottom: 70px;
			.slick-dots{
				bottom: -35px !important;
				li{
					&.slick-active{
						button{border-color: $red;}
					}
					button{border-color: $black;}
				}
			}
		}
	}
}
// plans-column
.thumbnail-plans{
	background-color: #f2f2f2;
	padding: 0 25px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 37px;
	.head{
		background-color: #f2f2f2;
		margin: 0 auto -17px;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 5px solid $white;
		font: 500 20px/1 $oswald;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		top: -37px;
		.price{
			color: $red;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		small{text-transform: uppercase;}
	}
	.list{
		list-style: none;
		padding: 0;
		margin: 0 0 20px;
		li{
			padding: 10px 0;
			+ li{border-top: 1px solid;}
		}
	}
	.btn{
		&-red,
		&-black,
		&-white{
			min-width: 150px;
			padding: 15px;
			align-self: center;
		}
	}
	&.white{
		.head{
			color: $black-2;
			small{color: $black-2;}
		}
		.list{
			li{
				+ li{border-color: $black-2;}
			}
		}
	}
	&.black{
		color: $white;
		background-color: $black-2;
		.head{
			color: $white;
			background-color: $black-2;
			small{color: $white;}
		}
		.list{
			li{
				+ li{border-color: $white;}
			}
		}
	}
}
// thumbnail-plans
.similar-products{
	margin-top: 100px;
	@include media("<tablet") {
		margin-top: 50px;
	}
}
// similar-products
body{
	&.video-play{
		.about{
			// background-position: 63% 50%;
			.row{
				@include media(">=tablet"){
					justify-content: center;
					.col-md-2{
						flex: 0;
						width: 0;
						max-width: none;
					}
					.col-md-10{flex:1 0 auto;}
					.text{
						transform: translateY(-50%) translateX(-100%);
					}
				}
				.video-holder{
					&:after{opacity: 0;}
				}
				.text{
					opacity: 0;
				}
				.embed-responsive {
					.btn-play{
						opacity: 0;
					}
				}
			}
			@include media("<tablet") {
				.row{
					.video-holder{
						&:after{
							content: '';
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: -5px;
							background: $red;
							width: 40px;
							height: 100px;
						}
					}
					.text{
						opacity: 1;
					}
				}
			}
		}
	}
}
// body(video-play)
.about{
	background-size: auto;
	margin-bottom: 30px;
	transition: all 1s;
	.container{
		text-align: center;
	}
	.row{
		position: relative;
		margin: 0;
		[class*="col"]{transition: all 1s;}
		.text{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: $black-2;
			width: 550px;
			height: auto;
			padding: 35px;
			text-align: left;
			color: $white;
			font-size: 13px;
			z-index: 100;
			max-height: 400px;
			overflow-y: auto;
			transition: all 1s;
			@include media("<mddesktop") {
				max-height: 350px;
				width: 420px;
			}
			@include media("<desktop") {
				max-height: 300px;
				width: 385px;
				padding: 10px;
			}
		}
		.video-holder{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -18px;
				background: $red;
				width: 40px;
				height: 100px;
				transition: all 1s;
			}
		}
		.embed-responsive {
			transition: all 1s;
			.btn-play{
				margin-left: 164px;
				transition: all .5s;
				@include media("<mddesktop") {margin-left: 113px;}
				@include media("<desktop") {
					width: 4em;
					height: 4em;
					margin-left: 123px;
				}
			}
		}
	}
	h4{
		font: 400 14px/20px $montserrat;
		color: $white;
		margin-bottom: 15px;
		text-transform: none;
	}
	@include media("<desktop") {
		background-size: contain;
		background-position: 50% 75%;
		.row{
			[class*="col"] {padding: 0;}
		}
	}
	@include media("<tablet") {
		.ttl{margin-bottom: 30px;}
		&.bg-img{background: none !important;}
		.row{
			.col-md-10{order: -1;}
			.embed-responsive {
				margin-bottom: 20px;
				.btn-play{
					left: 50%;
					transform: translate(-50%, -50%);
					margin-left: 0;
				}
			}
			.video-holder{
				&:after{
					content: '';
					position: absolute;
					right: -9px;
					background: $red;
					width: 20px;
					height: 75px;
					z-index: 100;
				}
			}
			.text{
				position: relative;
				width: 100%;
				top: 0;
				text-align: center;
				max-height: none;
				transform: none;
			}
		}
	}
}
// about