<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{subscriptions -> f:count()} > 0">
	<div class="plans-column bg-img">
		<div class="container">
			<h2 class="ttl"><f:translate key="tx_lssimulators_domain_model_subscription.subscription" /></h2>
		</div>
		<div class="plans-holder bg-img">
			<img src="images/bg-plans.png" alt="image description">
			<div class="container">
				<div class="row slider-06">
					<f:for each="{subscriptions}" as="item" >
						<div class="col-6 col-md-3">
							<div class="thumbnail-plans {f:if(condition: item.white, then: 'white', else: 'black')}">
								<div class="head">
									<span class="price">{item.item.price} <f:translate key="tx_lssimulators_domain_model_subscription.price" /></span>
									<small>{item.item.title}</small>
								</div>
								<f:format.html parseFuncTSPath="lib.parseFunc_RTE_subscription">{item.item.description}</f:format.html>
								<a href="#" class="btn btn-{f:if(condition: item.white, then: 'black', else: 'white')}"><f:translate key="tx_lssimulators_domain_model_subscription.buy" /></a>
							</div>
						</div>
					</f:for>
				</div>
			</div>
		</div>
	</div>
</f:if>

</html>