<footer id="footer" class="bg-img filter-01">
    <f:image image="{data.tx_mask_footer_background.0}" alt="{data.tx_mask_footer_background.0.alternative}" />
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <a href="#" class="brand-footer">
                        <f:image image="{data.tx_mask_logo.0}" alt="{data.tx_mask_logo.0.alternative}" title="{data.tx_mask_logo.0.title}"  />
                    </a>
                    <f:if condition="{data.tx_mask_networks}">
                        <div class="holder">
                            <h6>Наші соцмережі:</h6>
                            <ul class="social-list">
                                <f:for each="{data.tx_mask_networks}" as="network">
                                    <li>
                                        <f:link.typolink parameter="{network.tx_mask_link}" target="_blank">
                                            <f:image image="{network.tx_mask_icon.0}" class="ico-svg" alt="{network.tx_mask_icon.0.alternative}" title="{network.tx_mask_icon.0.title}"  />
                                        </f:link.typolink>
                                    </li>
                                </f:for>
                            </ul>
                        </div>
                    </f:if>
                </div>
                <!-- /col -->
                <div class="col-12 col-sm-6 col-md-4">
                    <f:if condition="{data.tx_mask_work_time}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_work_time}</f:format.html>
                    </f:if>
                </div>
                <!-- /col -->
                <div class="col-12 col-sm-6 col-md-4">
                    <f:if condition="{data.tx_mask_footer_contacts}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_footer_contacts}</f:format.html>
                    </f:if>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-top -->
    <div class="footer-bottom">
        <div class="container"><p class="copy">{data.tx_mask_copyright}</p></div>
    </div>
    <!-- /bottom -->
</footer><!-- / footer -->