<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<v:variable.set name="appearanceClass" value="{f:render(partial: 'Container/SectionClass',
                                                     arguments: {data: data}, section: 'AppearanceClass')
                                            -> v:format.trim()}" />

<div id="c{data.uid}" {appearanceClass -> f:format.raw()}>
    <f:render partial="Header" arguments="{_all}" />
    <f:render partial="Footer" arguments="{_all}" />
</div>
</html>