<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Page" />

<f:section name="Main">
    <div id="wrapper">
        <div id="main">
            <header id="header">
                <div class="container">
                    <f:cObject typoscriptObjectPath="lib.logo" />
                    <nav id="main-nav">
                        <f:cObject typoscriptObjectPath="lib.menu" />
                    </nav>
                    <div class="right">
                        <f:cObject typoscriptObjectPath="lib.cart" />
                        <div class="language-list">
                            <a class="drop-link" href="#">УКР</a>
                            <ul data-uk-dropdown="mode: click">
                                <li><a href="#">РУС</a></li>
                                <li><a href="#">ENG</a></li>
                            </ul>
                        </div>
                        <a href="#" class="open-menu"><span></span><span></span><span></span>Open Menu</a>
                    </div>
                </div>
            </header>

            <f:cObject typoscriptObjectPath="lib.language" />

            <v:content.render pageUid="{data.uid}" column="0"/>

            <v:content.render pageUid="2" column="0"/>
        </div>
    </div>

</f:section>

</html>
