<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Page" />

<f:section name="Main">
    <div id="wrapper">
        <div id="main">
            <header id="header">
                <div class="container">
                    <f:cObject typoscriptObjectPath="lib.logo" />
                    <nav id="main-nav">
                        <f:cObject typoscriptObjectPath="lib.menu" />
                    </nav>
                    <div class="right">
                        <f:cObject typoscriptObjectPath="lib.cart" />
                        <div class="language-list">
                            <f:if condition="{data.sys_language_uid}">
                                <f:then>
                                    <f:if condition="{data.sys_language_uid} == 1">
                                        <f:then>
                                            <a class="drop-link" href="#">ENG</a>
                                        </f:then>
                                        <f:else>
                                            <a class="drop-link" href="#">РУС</a>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <a class="drop-link" href="#">УКР</a>
                                </f:else>
                            </f:if>
                            <f:cObject typoscriptObjectPath="lib.language" />
                        </div>
                        <a href="#" class="open-menu"><span></span><span></span><span></span>Open Menu</a>
                    </div>
                </div>
            </header>

            <v:content.render pageUid="{data.uid}" column="0"/>

            <v:content.render pageUid="2" column="0"/>
        </div>
    </div>

</f:section>

</html>
