<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<div class="shop bg-img">
		<f:image src="EXT:ls_template/Resources/Public/markup/images/bg-shop.png" alt="alt text" />
		<h2 class="ttl">{settings.header}</h2>
		<div class="container">
			<div class="sidebar">
				<div class="filter-holder">
					<form action="#">
						<f:if condition="{simulatorsCategories -> f:count()} > 0">
							<div class="check-holder">
								<h4 class="ttl-check"><f:translate key="tx_lssimulators_domain_model_subscription.simulators_category" /></h4>
								<f:for each="{simulatorsCategories}" as="category">
									<div class="check-item">
										<input type="checkbox" id="cat-{category.uid}" class="checkbox">
										<label for="cat-{category.uid}">{category.title}</label>
									</div>
								</f:for>
							</div>
						</f:if>
						<div class="check-holder responsive-width">
							<h4 class="ttl-check"><f:translate key="tx_lssimulators_domain_model_subscription.price" /></h4>
							<div id="box-range">
								<div id="slider-range"></div>
								<div class="amount-holder">
									<span id="amount-1" class="amount"></span>
									<span id="amount-2" class="amount"></span>
								</div>
							</div>
						</div>
						<f:if condition="{typesOfTraining -> f:count()} > 0">
							<div class="check-holder">
								<h4 class="ttl-check"><f:translate key="tx_lssimulators_domain_model_subscription.type_of_training" /></h4>
								<f:for each="{typesOfTraining}" as="type">
									<div class="check-item">
										<input type="checkbox" id="type-{type.uid}" class="checkbox">
										<label for="type-{type.uid}">{type.title}</label>
									</div>
								</f:for>
							</div>
						</f:if>
					</form>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<f:for each="{simulators}" as="item">
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<f:image image="{item.images.0}" alt="{item.images.0.alternative}" title="{item.images.0.title}" />
								</div>
								<div class="text">
									<h4>{item.title}</h4>
									<small class="price">{item.price} <f:translate key="tx_lssimulators_domain_model_subscription.currency" /></small>
								</div>
								<div class="hover-box">
									<f:link.action action="show" pageUid="{settings.detailPid}" class="btn btn-red" arguments="{simulators:item}">{settings.linkTitle}</f:link.action>
								</div>
							</div>
						</div>
					</f:for>
				</div>
			</div>
		</div>
	</div>

</html>