<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:soc="http://typo3.org/ns/Media711/SemOxContent/ViewHelpers" data-namespace-typo3-fluid="true">

    <ce:menu.list pageUids="{pageUids}" as="pages">
        <f:if condition="{pages}">
            <div class="special-menu min-gutters">
                <div class="row">
                    <f:for each="{pages}" as="page">
                        <f:if condition="{page.fe_group}">
                            <f:then>
                                <f:if condition="{soc:security.checkPageAccess(pageFeGroups: page.fe_group)}">
                                    <f:render section="MenuItem" arguments="{page : page}" />
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:render section="MenuItem" arguments="{page : page}" />
                            </f:else>
                        </f:if>
                    </f:for>
                </div>
            </div>
        </f:if>
    </ce:menu.list>
</html>


<f:section name="MenuItem">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <f:link.page pageUid="{page.uid}" class="item blue-blue-gradient">
            <v:resource.record.fal table="pages" field="media" uid="{page.uid}" as="pageImage">
                <v:media.exists file="{pageImage.0.url}">
                    <f:image src="{pageImage.0.url}"
                             title="{pageImage.0.title}"
                             alt="{pageImage.0.alternative}" />
                </v:media.exists>
            </v:resource.record.fal>
            <div class="title">
                <f:if condition="{page.nav_title}">
                    <f:then>
                        <h4>{page.nav_title}</h4>
                    </f:then>
                    <f:else>
                        <h4>{page.title}</h4>
                    </f:else>
                </f:if>
            </div>
        </f:link.page>
    </div>
</f:section>