<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Legion Sport</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/uikit.min.js"></script>
	<script src="js/jquery.matchHeight-min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/scripts.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="main">
	<header id="header">
		<div class="container">
			<a href="#" class="navbar-brand"><img src="images/logo.png" alt="Legion Sport"></a>
			<nav id="main-nav">
				<ul>
					<li class="active"><a href="#">Головна</a></li>
					<li><a href="#">Магазин</a></li>
					<li><a href="#">Зал</a></li>
					<li><a href="#">Сауна</a></li>
					<li><a href="#">Басейн</a></li>
					<li><a href="#">Контакти</a></li>
				</ul>
			</nav>
			<div class="right">
				<a href="#" class="ico-shop"><img class="ico-svg" src="images/ico-shopping-basket.svg" alt="image description"></a>
				<div class="language-list">
					<a class="drop-link" href="#">УКР</a>
					<ul data-uk-dropdown="mode: click">
						<li><a href="#">РУС</a></li>
						<li><a href="#">ENG</a></li>
					</ul>
				</div>
				<a href="#" class="open-menu"><span></span><span></span><span></span>Open Menu</a>
			</div>
		</div>
	</header><!-- / header -->
		<div class="shop single-page bg-img">
			<div class="container">
				<h2 class="ttl">Xtremepowerus exercise bike</h2>
				<div class="row">
					<div class="col-12 col-md-5 col-lg-3">
						<div class="slider-04">
							<div>
								<div class="thumbnail">
									<div class="main-img">
										<img src="images/img-bike.png" alt="image description">
									</div>
								</div>
							</div>
							<div>
								<div class="thumbnail">
									<div class="main-img">
										<img src="images/img-bike2.png" alt="image description">
									</div>
								</div>
							</div>
							<div>
								<div class="thumbnail">
									<div class="main-img">
										<img src="images/img-bike.png" alt="image description">
									</div>
								</div>
							</div>
							<div>
								<div class="thumbnail">
									<div class="main-img">
										<img src="images/img-bike.png" alt="image description">
									</div>
								</div>
							</div>
						</div>
						<div class="slider-nav">
							<div>
								<div class="thumbnail">
									<div class="main-img">
										<img src="images/img-bike.png" alt="image description">
									</div>
								</div>
							</div>
							<div>
								<div class="thumbnail">
									<div class="main-img">
										<img src="images/img-bike2.png" alt="image description">
									</div>
								</div>
							</div>
							<div>
								<div class="thumbnail">
									<div class="main-img">
										<img src="images/img-bike.png" alt="image description">
									</div>
								</div>
							</div>
							<div>
								<div class="thumbnail">
									<div class="main-img">
										<img src="images/img-bike.png" alt="image description">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-7 col-lg-9">
						<div class="detail-information">
							<div class="row">
								<div class="col-12 col-lg-9">
									<h2>HT 9051 Xtremepowerus exercise bike</h2>
									<dl>
										<dt>
											Код товару: <b>ht 9051</b>
										</dt>
										<dd>
											Ціна: <b>4500 грн</b>
										</dd>
									</dl>
								</div>
								<div class="col-12 col-lg-3">
									<a href="#" class="btn btn-black2">Купити</a>
								</div>
							</div>
						</div>
						<!-- /detail-information -->
						<h4>Технічні характеристики і опис:</h4>
						<ul class="dots-list">
							<li>Магнітна 8-рівнева система навантаження</li>
							<li>Оригінальний дизайн корпусу з полірованим лакофарбовим покриттям.</li>
							<li>Легка і компактна конструкція</li>
							<li>Регульоване по висоті сидіння</li>
							<li>Датчики пульсу на кермі</li>
							<li>Ніжки з регулюванням для нерівного статі</li>
							<li>Комп'ютер: функції - швидкість, витрачені калорії, час, відстань, пульс</li>
							<li>Габарити (довжина, ширина, висота): 80 * 45 * 117 см</li>
							<li>Вага тренажера (нетто / брутто): 14/15 кг</li>
							<li>Максимально допустима вага користувача: 80 кг</li>
						</ul>
					</div>
				</div>
				<div class="similar-products">
					<h2 class="ttl">Схожі товари</h2>
					<div class="row slider-05">
						<div class="col-3">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-bike.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercise bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<!-- /item -->
						<div class="col-3">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-bike.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercise bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<!-- /item -->
						<div class="col-3">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-shop-03.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercise bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<!-- /item -->
						<div class="col-3">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-bike2.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercise bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<!-- /item -->
						<div class="col-3">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-shop-03.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercise bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<!-- /item -->
					</div>
				</div>
				<!-- /similar-products -->
			</div>
		</div>
		<!-- /shop -->
	</div>
	<footer id="footer" class="bg-img filter-01">
		<img src="images/bg-footer.png" alt="image description">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-4">
						<a href="#" class="brand-footer"><img src="images/logo.png" alt="Legion Sport"></a>
						<div class="holder">
							<h6>Наші соцмережі:</h6>
							<ul class="social-list">
								<li><a href="#" target="_blank"><img class="ico-svg" src="images/ico-facebook.svg" alt="facebook"></a></li>
								<li><a href="#" target="_blank"><img class="ico-svg" src="images/ico-skype.svg" alt="skype"></a></li>
								<li><a href="#" target="_blank"><img class="ico-svg" src="images/ico-instagram.svg" alt="instagram"></a></li>
								<li><a href="#" target="_blank"><img class="ico-svg" src="images/ico-vk.svg" alt="vk"></a></li>
							</ul>
						</div>
					</div>
					<!-- /col -->
					<div class="col-12 col-sm-6 col-md-4">
						<h4>Години Роботи</h4>
						<dl>
							<dt>Понеділок - П'ятниця</dt>
							<dd>8.00 - 21.00</dd>
						</dl>
						<dl>
							<dt>Субота</dt>
							<dd>10.00 - 20.00</dd>
						</dl>
						<h6>Неділя - вихідний</h6>
					</div>
					<!-- /col -->
					<div class="col-12 col-sm-6 col-md-4">
						<h4>Контакти</h4>
						<h6><a href="https://goo.gl/maps/6uXSdhuNe3S2" target="_blank">м.Львів<br>вул.Сахарова, 48</a></h6>
						<dl>
							<dt><a href="tel:0322456678">032 245 66 78</a></dt>
							<dd><a href="tel:0997898789">099 789 87 89</a></dd>
						</dl>
						<h6><a href="mailto:legion.lviv@gmail.com">legion.lviv@gmail.com</a></h6>
					</div>
					<!-- /col -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /footer-top -->
		<div class="footer-bottom">
			<div class="container"><p class="copy">Copyright 2018</p></div>
		</div>
		<!-- /bottom -->
	</footer><!-- / footer -->
</div><!-- / wrapper -->
</body>
</html>