<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Legion Sport</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/uikit.min.js"></script>
	<script src="js/jquery.matchHeight-min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/scripts.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="main">
	<header id="header">
		<div class="container">
			<a href="#" class="navbar-brand"><img src="images/logo.png" alt="Legion Sport"></a>
			<nav id="main-nav">
				<ul>
					<li class="active"><a href="#">Головна</a></li>
					<li><a href="#">Магазин</a></li>
					<li><a href="#">Зал</a></li>
					<li><a href="#">Сауна</a></li>
					<li><a href="#">Басейн</a></li>
					<li><a href="#">Контакти</a></li>
				</ul>
			</nav>
			<div class="right">
				<a href="#" class="ico-shop"><img class="ico-svg" src="images/ico-shopping-basket.svg" alt="image description"></a>
				<div class="language-list">
					<a class="drop-link" href="#">УКР</a>
					<ul data-uk-dropdown="mode: click">
						<li><a href="#">РУС</a></li>
						<li><a href="#">ENG</a></li>
					</ul>
				</div>
				<a href="#" class="open-menu"><span></span><span></span><span></span>Open Menu</a>
			</div>
		</div>
	</header><!-- / header -->
		<div class="shop bg-img">
			<img src="images/bg-shop.png" alt="image description">
			<h2 class="ttl">Магазин</h2>
			<div class="container">
				<div class="sidebar">
					<div class="filter-holder">
						<form action="#">
							<div class="check-holder">
								<h4 class="ttl-check">Категорія товару:</h4>
								<div class="check-item">
									<input type="checkbox" id="check-01" class="checkbox">
									<label for="check-01">Кардіотренажери</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-02" class="checkbox">
									<label for="check-02">Фітнес</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-03" class="checkbox">
									<label for="check-03">Степпери</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-04" class="checkbox">
									<label for="check-04">Гантелі, Грифи, Диски</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-05" class="checkbox">
									<label for="check-05">Спортивне харчування</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-06" class="checkbox">
									<label for="check-06">Силове обладнання</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-07" class="checkbox">
									<label for="check-07">Вібромасажери</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-08" class="checkbox">
									<label for="check-08">Акції</label>
								</div>
							</div>
							<div class="check-holder responsive-width">
								<h4 class="ttl-check">Ціна</h4>
								<div id="box-range">
									<div id="slider-range"></div>
									<div class="amount-holder">
										<span id="amount-1" class="amount"></span>
										<span id="amount-2" class="amount"></span>
									</div>
								</div>
							</div>
							<div class="check-holder">
								<h4 class="ttl-check">Тип тренування</h4>
								<div class="check-item">
									<input type="checkbox" id="check-09" class="checkbox">
									<label for="check-09">Схуднення</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-10" class="checkbox">
									<label for="check-10">Набирання маси</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-11" class="checkbox">
									<label for="check-11">Фітнес</label>
								</div>
								<div class="check-item">
									<input type="checkbox" id="check-12" class="checkbox">
									<label for="check-12">Аеробіка</label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="content">
					<div class="row">
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-bike.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercese bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-shop-03.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercese bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-bike2.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercese bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-8">
							<div class="thumbnail small-width">
								<span class="discount"><img src="images/ico-percentage_discount.svg" alt="image description"></span>
								<div class="main-img">
									<img src="images//img-shop-02.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercese bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-shop-01.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercese bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-shop-04.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercese bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-shop-05.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercese bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="thumbnail small-width">
								<div class="main-img">
									<img src="images/img-shop-05.png" alt="image description">
								</div>
								<div class="text">
									<h4>Xtremepowerus exercese bike</h4>
									<small class="price">4500 грн</small>
								</div>
								<div class="hover-box">
									<a href="#" class="btn btn-red">Детальніше</a>
								</div>
							</div>
						</div>
					</div>
					<ul class="list-pagination">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li></li>
						<li><a href="#">10</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop -->
	</div>
	<footer id="footer" class="bg-img filter-01">
		<img src="images/bg-footer.png" alt="image description">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-4">
						<a href="#" class="brand-footer"><img src="images/logo.png" alt="Legion Sport"></a>
						<div class="holder">
							<h6>Наші соцмережі:</h6>
							<ul class="social-list">
								<li><a href="#" target="_blank"><img class="ico-svg" src="images/ico-facebook.svg" alt="facebook"></a></li>
								<li><a href="#" target="_blank"><img class="ico-svg" src="images/ico-skype.svg" alt="skype"></a></li>
								<li><a href="#" target="_blank"><img class="ico-svg" src="images/ico-instagram.svg" alt="instagram"></a></li>
								<li><a href="#" target="_blank"><img class="ico-svg" src="images/ico-vk.svg" alt="vk"></a></li>
							</ul>
						</div>
					</div>
					<!-- /col -->
					<div class="col-12 col-sm-6 col-md-4">
						<h4>Години Роботи</h4>
						<dl>
							<dt>Понеділок - П'ятниця</dt>
							<dd>8.00 - 21.00</dd>
						</dl>
						<dl>
							<dt>Субота</dt>
							<dd>10.00 - 20.00</dd>
						</dl>
						<h6>Неділя - вихідний</h6>
					</div>
					<!-- /col -->
					<div class="col-12 col-sm-6 col-md-4">
						<h4>Контакти</h4>
						<h6><a href="https://goo.gl/maps/6uXSdhuNe3S2" target="_blank">м.Львів<br>вул.Сахарова, 48</a></h6>
						<dl>
							<dt><a href="tel:0322456678">032 245 66 78</a></dt>
							<dd><a href="tel:0997898789">099 789 87 89</a></dd>
						</dl>
						<h6><a href="mailto:legion.lviv@gmail.com">legion.lviv@gmail.com</a></h6>
					</div>
					<!-- /col -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /footer-top -->
		<div class="footer-bottom">
			<div class="container"><p class="copy">Copyright 2018</p></div>
		</div>
		<!-- /bottom -->
	</footer><!-- / footer -->
</div><!-- / wrapper -->
</body>
</html>