.agenda {
  & + .agenda {
    margin-top: 60px;
  }

  .panel {
    @include box-shadow(none);

    .panel-title {
      border-bottom: 1px solid $grey;

      a {
        margin-bottom: 0;

        & + a {
          text-transform: lowercase;
        }
      }

      a[role="button"] {
        padding-left: 35px;

        &:before {
          @include transition(all 0.3s);
          font-size: 25px;
          width: 25px;
          height: 25px;
          top: 4px;
        }

        &.collapsed:before {
          @include rotate(-90deg);
          top: 0;
        }

        b {
          font-weight: 600;
        }
      }
    }

    .panel-collapse {
      padding: 0;

      .standard-bullet-list {
        margin-top: 12px;
        margin-bottom: 0;
        margin-left: 0;

        li {
          display: inline-block;
          margin-left: 45px;
          margin-bottom: 12px;

          &:before {
            color: inherit;
            font-size: 16px;
          }
        }
      }

      .table-responsive {
        width: 100%;

        table {
          tr {
            td {
              border: none;
              padding: 20px 15px;
              font-size: 14px;

              p,
              a {
                font-size: 14px;
              }

              p + p {
                margin-top: -10px;
              }

              &.times {
                width: 120px;

                p[class] {
                  padding-left: 25px;

                  &:hover {
                    opacity: 1;
                    cursor: default;
                  }
                }

                :before {
                  color: $grey;
                  font-size: 18px;
                  height: 18px;
                  top: 2px;
                }
              }
              &.categorys {width: 350px;}
              &.speakers {width: 400px;}
              &.forums {
                text-align: center;

                .room-soon {
                  color: $grey;
                }

                a {
                  color: inherit;
                }
              }

              .category {
                padding-left: 150px;
                position: relative;
                min-height: 95px;

                .circle-95 {
                  text-align: center;
                  line-height: 95px;
                  font-size: 51px;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  @include translate(0, -50%);
                }

                .category-default {
                  background-color: $silver-grey;
                }
              }

              .speaker {
                padding-right: 150px;
                position: relative;
                min-height: 95px;

                & + .speaker {
                  margin-top: 20px;
                }

                img {
                  position: absolute;
                  right: 0;
                  top: 50%;
                  @include translate(0, -50%);
                }
              }
            }
          }
        }
      }
    }
  }

  &.simple {
    .panel-collapse .table-responsive table tr td.times {

      width: 175px;
    }

    .panel-collapse .table-responsive table tr td.categorys {
      width: 285px;
    }

    .panel-collapse .table-responsive table tr td.speakers {
      width: auto;
    }
  }
}
