.countdown {
  padding: 15px;

  & > div {
    display: inline-block;
  }

  .countdown-place {
    span {
      display: block;
      padding-right: 25px;

      &:first-child {
        text-transform: capitalize;
        font-weight: 300;
        letter-spacing: -1px;
      }

      &:last-child {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .countdown-time {
    position: relative;

    .lable {
      display: inline-block;

      span {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: -1px;
      }

      a {
        position: absolute;
        top: 66%;
        left: 105%;
        height: 20px;
        width: 20px;
        @include translate(0, -50%);

        &:before {
          content: '\f271';
          font-size: 30px;
        }
      }
    }

  }
}

.countdown-small {
  .countdown-place span,
  .countdown-time .lable span {
    &:first-child {
      font-size: 18px;
    }
    &:last-child {
      font-size: 40px;
    }
  }
}

.countdown-big {
  .countdown-place span,
  .countdown-time .lable span {
    &:first-child {
      font-size: 20px;
    }
    &:last-child {
      font-size: 45px;
    }
  }
}
