header {
  background: #03324d;
  position: fixed;
  width: 100%;
  z-index: 100;
  color: $white;
  font-size: $font-small;
  min-height: 65px;


  & > .container {
    position: relative;
  }

  nav#menu {
    display: none;
  }

  ul {
    @include normalize-list();
    font-size: $font-small;
  }

  .logo-wrapper {
    float: left;
    padding-top: 17px;

    img {
      height: 36px;
    }
  }

  .off-navigation {
    float: left;

    ul {
      @include clearfix();

      li {
        float: left;
        text-align: center;

        &#try-now {
          a {
            color: #99c032;
            font-weight: 600;

            &:hover {
              color: white;
            }

          }
        }

        &#customer-portal {
          > a {
            color: #E66E00;

            &:hover {
              color: white;
            }
          }
        }


        a {
          line-height: $header-height;
          padding: 0 10px;
          display: inline-block;
          color: inherit;
          position: relative;
          opacity: 1;
          @include transition(opacity 0.3s);

          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }

        > a {
          color: #7FCFF0;

          &:hover, &.active {
            color: #fff;
          }

        }
        .Inset {
          li {
            a {
              color: #2d2d2d;

              &:hover {
                color: #2d2d2d;
              }
            }
          }
        }

        &.parent {
          margin-bottom: 36px;
        }

        &.beforeCat {
          margin-bottom: 36px;
        }
      }

      &.new-menu {
        > li {
          > a {
            line-height: 1;
          }
        }
      }
    }

    .briefcase,
    .profile,
    .icon-search,
    .visible-xs .contact {
      font-size: 1px;
      letter-spacing: -1px;
      height: $header-height;
      margin-bottom: 0;

      &:before {
        content: "";
        font-family: FontAwesome;
        line-height: $header-height;
        color: inherit;
        font-size: 24px;
        position: initial;
      }
    }

    .icon-search:before {content: "\f002";}
    .profile:before {content: "\f007";}
    .briefcase:before {content: "\f0b1";}
    .visible-xs .contact:before {content: "\f003";}
  }

  .menu-toggle {
    width: 32px;
    position: relative;
    float: right;
    background-color: transparent;
    padding: 0;
    margin: 21px 0 16px 7px;

    .icon-menu {
      width: 100%;
      height: 4px;
      margin-bottom: 5px;
      background-color: $white;
      display: block;
    }
  }
}

.mm-listview {
  .menu-title {
    padding: 11px 10px;
    margin: 0 20px;
    font-size: $font-normal;

    &:not(.contact-info) {
      border-bottom: 1px solid #595959;
      font-weight: bold;
    }
  }

  li {
    &:not(.contact-info) a {
      display: block;

      &:hover {
        background: rgba(0,0,0,0.1);
      }
    }

    &:not(.mm-divider):after {
      border: none;
    }

    &.contact-info {
      b {
        color: $grey;
        border-bottom: 1px solid #595959;
        padding: 25px 0 5px;
        display: block;
        margin-bottom: 5px;
      }

      p {
        line-height: 20px;

        a {
          color: inherit;
        }
      }
    }
  }

  .customer-portal {
    background-color: #0492CD;
  }

  .try-now {
    display: none;
  }

  .mm-inset {
    list-style-type: none;
    padding: 0 20px;

    li {
      border-bottom: 1px solid #595959;
      padding: 0;

      &:hover,
      &:active {
        background: rgba(0,0,0,0.1);

        a {
          background: transparent;
        }
      }

      a {
        padding: 10px 0 10px 30px;
      }

      &.active a {
        font-weight: bold;
      }

      a {
        color: inherit;
      }
    }
  }
}

/* new styles */

header {

  .submenu, .mobmenu {
    display: block;
    position: absolute;
    height: calc(100vh - 65px);
    width: 100vw;
    z-index: -1;
    top: 65px;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transform: translateX(-9999px);
    transition: opacity ease-in-out 0.2s;

    .whitepart {
      background: $white;
      opacity: 0;
    }

    &.blured {
      transform: translateX(0px);
      z-index: 1;
      opacity: 1;

      .whitepart {
        opacity: 1;
      }
    }
  }

  .mobmenu {
    top: auto;

    &.blured {
      z-index: 2;
    }

    .whitepart {
      background: none;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .search-toggler {
    float: right;
    margin-top: 18px;
    margin-right: 10px;

    .search {
      width: 35px;
      height: 30px;
      margin-bottom: 0;

      &:before {
        color: #fff;
        font-size: 28px;
        margin-top: 4px;
      }
    }
    form.tx-solr {
      transform: translateX(-200%);
      transition: transform 0.2s ease-in-out;
      position: fixed;
      left: 0;
      width: 100%;
      top: 65px;
      background: #011e2e;
      padding: 15px;
      box-sizing: border-box;
    }

    &.open-form {
      form.tx-solr {
        transform: translateX(0);
        height: 65px;


        .form-group {
          margin-bottom: 0;
          position: relative;
          width: 100%;
          top: auto;
          transform: translateY(0%);
        }

        input.form-control {
          background: #fff;
        }

      }

    }

  }

  .tx-solr {
    width: 115px;
    height: 50px;
    position: relative;
    transition: width 0.2s ease-in-out;

    .form-group {
      margin-bottom: 0;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);

      input.form-control {
        border: none;
        border-radius: 20px;
        height: 32px;
        background: #011e2e;
        padding: 0px 15px;
        box-sizing: border-box;
        color: white;

        &::placeholder {
          color: transparent;
        }

        &:focus {
          box-shadow: none;
          border: none;
          background: #fff;
          color: #2d2d2d;
        }
      }
    }
  }

}

.new-menu {
  font-size: 16px;
  padding-right: 120px;
  display: flex;
  min-height: 65px;
  height: 65px;
  align-content: flex-end;
  align-items: flex-end;

  &.active {
    position: relative;
  }

  .subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
  }

  > li {
    padding-bottom: 10px;

    > a {
      color: #7FCFF0;
    }


    > .Inset {
      transition: opacity ease-in-out 0.2s;
      opacity: 0;
      position: absolute;
      left: 0;
      transform: translateX(-9999px);
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3;
      -webkit-column-gap: 65px;
      -moz-column-gap: 65px;
      column-gap: 65px;
      display: block;
      -moz-column-fill: balance;
      column-fill: balance;
      margin-top: 10px;

      > li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        float: none;
        display: block;
        width: 100%;
      }
    }

    &:hover {

      > a {
        color: #fff;
      }

      > .Inset {
        width: 100%;
        padding: 15px;
        opacity: 1;
        transform: translateX(0);

        > li {
          text-align: left;
          box-sizing: border-box;

          a {
            position: relative;
            font-size: 16px;
            font-weight: 400;
            transition: font-weight 0.1s ease-in-out;
            line-height: 1.2;
            padding: 8px 0;
            border-bottom: 1px solid #2d2d2d;
            display: block;
            width: 100%;
            opacity: 1;

            &:hover, &.active {
              font-weight: 600;
              color: #000;
              opacity: 1;

              .subtitle {
                font-weight: 400;
              }
            }


          }

          &.parent {

            > ul {
              //margin-bottom: 36px;

              li {
                float: none;
                text-align: left;
              }
            }
            > span {
              font-weight: 600;
              font-style: italic;
              text-transform: uppercase;
              color: #2d2d2d;
              font-size: 16px;
              border-bottom: 1px solid #2d2d2d;
              display: block;
              padding: 8px 0;
              line-height: 1.2;
            }

            //@media screen and (-webkit-min-device-pixel-ratio:0) {
            @media not all and (min-resolution:.001dpcm)
            { @supports (-webkit-appearance:none) {
              + li {
                &:not(.parent):nth-child(3n):last-of-type {
                  > a {
                    margin-top: -36px;
                  }
                }
              }
            }}
            //}
          }
        }
      }
    }

    &.search {
      position: absolute;
      right: 25px;
      width: 115px;
      padding: 0;
      margin-bottom: 0;
      bottom: 0;
      transition: width 0.2s ease-in-out;

      &:before {
        position: absolute;
        right: 15px;
        left: auto;
        z-index: 1;
        top: 50%;
        transform: translateY(-55%);
        color: #fff;
      }

      &.active {
        width: calc(100% + 20px);
        right: -10px;

        &:before {
          color: #011e2e;
        }
      }

      form {
        width: 100%;
      }
    }

  }
}


.mobmenu {


  .new-menu {
    height: auto;
  }

  &.blured {
    .whitepart {
      .new-menu {
        transform: translateX(0);

        a {
          font-size: 16px;
          transition: font-weight 0.2s ease-in-out;
          &:hover {
            text-decoration: none;
            font-weight: 600;
          }

          &.active {
            font-weight: 600;
          }
        }

        .pan-trigger {
          &:hover {
            cursor: pointer;
          }
        }

        span.pan-trigger {
          font-weight: 600;
          font-style: italic;
          text-transform: uppercase;
          color: #2d2d2d;
          font-size: 16px;
          display: block;
          padding: 8px 0;
          line-height: 1.2;
          border-bottom: none;
        }

        .Inset {
          opacity: 1;
        }
      }
    }
  }

  .whitepart {
    position: relative;
    height: 0;
    background: none;

    ul {
      position: relative;
      background: #fff;

      &.new-menu {
        display: block;
        padding: 15px 20px;
        background: #fff;
        transform: translateX(-100%);
        transition: all ease-in-out 0.25s;
        position: fixed;
        width: 100%;
      }

      > li {
        position: relative;
        width: 100%;
        padding-bottom: 0;

        &#try-now {
          a {
            color: #99c032;
            font-weight: 600;
          }

        }

        &#customer-portal {
          > a {
            color: #E66E00;
          }
        }


        a {
          line-height: 40px;
          color: #2d2d2d;
          border-bottom: none;
          padding-left: 10px;
          display: block;

          &:focus {
            text-decoration: none;
          }
        }

        &:before {
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          border: 1px solid #000;
          border-top: none;
          border-left: none;
          transform: rotate(-45deg) translateY(-75%);
          position: absolute;
          left: -5px;
          top: 50%;
        }

        &.parent {
          padding-left: 0;

          &:before {
            display:none;
          }

          &:after {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border: 1px solid #000;
            border-top: none;
            border-left: none;
            transform: rotate(-45deg) translateY(-75%);
            position: absolute;
            right: -5px;
            top: 50%;
          }
        }

        > .Inset {
          display: block;
          background: $white;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 2;
          transform: translateX(-100%);
          transition: all ease-in-out 0.25s;
          width: 100%;
          padding: 15px 20px;
          box-sizing: border-box;
          columns: 1;
          margin: 0;

          > li {
            width: 100%;
            margin-bottom: 0;

            a {
              border-bottom: none;
              line-height:40px;
              padding: 0 0 0 10px;
            }

            .Inset {

              .back {
                display: block;
                font-size: 16px;
                border-bottom: 1px solid #ccc;
                color: #9e9d9d;
                position: relative;
                margin: 0 -20px;
                padding: 0 30px;
                width: auto;

                &:before {
                  content: '';
                  display: block;
                  width: 7px;
                  height: 7px;
                  border: 1px solid #ccc;
                  border-right: none;
                  border-bottom: none;
                  transform: rotate(-45deg) translateY(-75%);
                  left: 20px;
                  top: 50%;
                  position: absolute;
                }
              }
            }
          }

          li {
            &.parent {
              > span {
                margin: 0;
                border-bottom: 0;
                margin-left: -10px;
              }
            }
          }

          &.opened {
            transform: translateX(0%);
          }
        }
      }

      .back {
        display: block;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        color: #9e9d9d;
        position: relative;
        margin: 0 -20px;
        padding: 0 30px;

        &:before {
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          border: 1px solid #ccc;
          border-right: none;
          border-bottom: none;
          transform: rotate(-45deg) translateY(-75%);
          left: 20px;
          top: 50%;
          position: absolute;
        }
      }
    }

  }


}

/* New burger */

.nav-icon-mobile {
  width: 32px;
  height: 23px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  background-color: transparent;
  padding: 0;
  margin: 21px 0 16px 7px;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 9px;
    }

    &:nth-child(4) {
      top: 18px;
    }

  }

  &.open {
    span {

      &:nth-child(1) {
        top: 9px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 9px;
        width: 0%;
        left: 50%;
      }

    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  header .off-navigation ul li a {
    padding: 0 5px;
  }
}

@-moz-document url-prefix() {
   .new-menu {
    li {
      .Inset {
        li {
          display: inline-block;
          width: 100%;

          &.parent.beforeCat {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}