.locations-map-wrapper {
  display: none;
  position: relative;
  @extend .blue-blue-gradient;
  padding-top: 50px;
  padding-bottom: 50px;

  svg {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
  }
}

.slick-initialized.mobile-svg-wrapper {
  display: block;
}

.gallery-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.locations-mfp {
  .mfp-iframe-holder {
    .mfp-content {
      width: 100%;
      max-width: 900px;
      min-height: auto;
      padding: 0;
    }

    .mfp-arrow {
      display: none;
    }

    .slick-dots {
      display: none;
    }
  }

  .mfp-content {
    // max-width: 1090px;
    width: auto;
    @extend .blue-blue-gradient;
    min-height: 579px;
    padding: 50px;
    // height: 579px;

    .slick-dots {
      bottom: 18px!important;

      li button:before {
        transition: background 0.1s;
      }
    }

    .slider-buttons {
      a:last-child {
        margin-left: 35px;
      }
    }

    .slide-location {
      margin-bottom: 0;
    }

    .slide-content-wrapper {
      // @include flex();
      // align-items: flex-start;

      .location-img {
        padding-right: 50px;
      }
    }

    .slider-buttons a {
      margin-left: 0!important;
    }
  }

  .mfp-container .slick-dots {
    bottom: 10px;
    z-index: 1400;
    left: 0;
  }

  .mfp-close {
    width: 46px;
    height: 46px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    padding: 0;
    top: 15px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
    @include transition(all 0.3s);

    &:hover {
      opacity: 0.7;
    }
  }

  .mfp-arrow {
    opacity: 1;
  }

  .mfp-arrow:hover {
    opacity: 0.7;
  }
}

.mobile-svg-wrapper {
  display: none;

  .mobile-svg {
    width: 100vw;
  }

  .slick-arrow {
    font-size: 22px;
    color: #96C300;
    font-weight: 400;
    font-family: "Open Sans";
    top: 84%;

    &:before {
      color: #96C300;
      text-shadow: none;
    }

    &.slick-prev.slick-disabled {
      right: 0;
      top: 90%;
      left: auto;
      opacity: 0.6;

      &:after {
        content: '\f105';
        font-size: 5vw;
        padding: 0 16px;
        font-family: FontAwesome;
      }

      &:before {
        content: '';
      }

    }

    &.slick-next.slick-disabled {
      left: 0;
      top: 90%;
      opacity: 0.6;
      text-align: left;

      &:before {
        content: '\f104';
        font-size: 5vw;
        padding: 0 16px;
      }

      &:after {
        content: '';
      }
    }
  }

  .slick-prev {
    &:before {
      font-size: 5vw;
    }
  }

  .slick-next {
    &:after {
      font-family: FontAwesome;
      padding: 0 16px;
      margin: 0;
      opacity: 1;
      font-size: 5vw;
      transition: opacity 0.5s;
      color: #96c300;
      text-shadow: none;
      content: '\f105';
    }

    &:before {
      content: '';
      padding: 0;
      font-size: inherit;
    }
  }

  svg {
    //@extend .blue-blue-gradient;
    background: radial-gradient(rgba(44, 94, 142, 0.98) 0,#19466d 100%);
  }

  .mobile-svg {
    @extend .blue-blue-gradient;
  }
}

.locations-back-to-top {
  width: 40px;
  height: 40px;
  background-color: $ice-blue;
  position: fixed;
  right: 22px;
  bottom: 30px;
  z-index: 1049;
  display: none;

  &:before {
    -webkit-transform: translate(50%, 50%) rotate(180deg);
    -ms-transform: translate(50%, 50%) rotate(180deg);
    transform: translate(50%, 50%) rotate(180deg);
    color: $white;
  }
}


@media screen and (max-width: $screen-xs-max) {
  .mfp-bg, .mfp-wrap {
    top: 65px !important;
    height: calc(100vh - 65px) !important;
    position: fixed !important;
    overflow: auto;
  }

  .locations-mfp {


    .mfp-content {
      background: #3971A7;

      .location-detail {
        h2.slide-location {
          display: block;
          text-align: center;
        }

        .ce-textpic.row, .slider-buttons.row {
          margin: 0 -10px;
        }

        .slider-buttons.row {
          text-align: center;
        }

        .ce-gallery {
          padding-right: 0;
          padding-left: 0;
        }
      }

      .mfp-close {
        width: 32px;
        height: 32px;
        font-size: 28px;
        line-height: 33px;
        background: #052d4b;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2) {
  .mobile-svg-wrapper {
    .slick-arrow {
      top: 70%;

      &.slick-prev, &.slick-next {
        &.slick-disabled {
          top: 75%;
        }
      }
    }
  }
}


@media screen and (max-width: 321px) {
  .mobile-svg-wrapper {
    .slick-arrow {
      font-size: 18px;
    }
  }
}