.micro-banners {
  @include flex();
  flex-wrap: wrap;

  img {
    width: 100%;
    height: auto;
  }

  div.description {
    padding: 15px 56px 25px 56px;

    h2 {
      margin-bottom: 10px;
      font-weight: 800;
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 15px;

      li {
        list-style: none;
      }
    }
  }
}
