.ox-drive {
  display: inline-block;

  ul {
    padding: 0;
    margin: 0;
    display: block;
  }

  .title {
    text-align: left;
    margin-bottom: 20px;

    &.enable li span {
      top: 50%;
    }

    li {
      display: block;
      height: 42px;
      overflow: hidden;
      position: relative;

      span {
        position: absolute;
        top: -60%;
        left: 0;
        @include translate(0, -50%);
        @include transition(top 2s);
        line-height: 1;

        &:not(.estimate) {
          font-weight: 600;
          font-size: 34px;
        }

        &.estimate {
          font-size: 19px;
        }
      }
    }
  }

  .charts {
    padding-top: 160px;
    height: 160px;

    li {
      display: inline-block;
      width: 56px;
      position: relative;

      &.enable .date-time span {
        top: 50%;
      }

      .date-time {
        display: inline-block;
        width: 100%;
        height: 20px;
        overflow: hidden;
        position: relative;

        span {
          display: block;
          position: absolute;
          top: 140%;
          left: 50%;
          @include translate(-50%, -50%);
          @include transition(top 1s);
        }
      }

      .line {
        display: block;
        height: 0;
        width: 4px;
        background-color: $ice-blue;
        position: absolute;
        bottom: 40px;
        left: 26px;
        @include transition(height 1s 1s);
      }
    }
  }
}
