.ox-guard {
  display: inline-block;
  position: relative;
  margin-bottom: 70px;

  svg {
    transition-property: all;
    transition-duration: 1s;
    transform-origin: center center;
    zoom: 1;

    circle {
      stroke-width: 10;
      animation-fill-mode:forwards;

      &.green {
        animation: stroke-fill-green 1.54s  linear;
        animation-delay: 2680ms;
        animation-fill-mode:forwards;
      }

      &.yellow {
        animation: stroke-fill-yellow 1.8s linear;
        animation-delay: 800ms;
        animation-fill-mode:forwards;
      }

      &.orange {
        animation: stroke-fill-orange 1.34s  linear;
        animation-delay: 4220ms;
        animation-fill-mode:forwards;
      }

      &.blue {
        animation: stroke-fill-blue 1.045s  linear;
        animation-delay: 5560ms;
        animation-fill-mode:forwards;
      }

      &.white {
        animation: stroke-fill-white 1.195s linear;
        animation-delay: 6605ms;
        animation-fill-mode:forwards;
      }
    }
  }

  .list {
    overflow: hidden;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);

    &:not(.all) {
      height: 100px;

      li {
        height: 100px;
        margin: 0;
        padding: 10px 0;
        position: absolute;
        left: 50%;
        top: 0;
        @include translate(-50%, 0);

        padding-left: 0;
        text-align: center;

        .time {
          font-size: 39px;
          position: relative;
        }

        .description {
          margin-top: 15px;
        }
      }
    }

    &.all {
      ul {
        top: 50%;
        left: 55%;
        position: absolute;

        li {
          text-align: left;
          padding-left: 65px;
        }
      }
    }

    ul {
      display: inline-block;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        opacity: 0;
        @include transition(opacity 1s);

        &.current {
          opacity: 1;
        }

        span {
          color: inherit!important;
          line-height: 20px;

          &.time {
            position: absolute;
            left: 0;
          }

          &.description {
            display: inline-block;
            width: 150px;

            & > span {
              display: inline-block;
              text-align: center;

              &:not(:last-child) {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  .title {
    font-size: 22px;
    width: 300px;
    @include transition(all 1s);
    font-weight: 500;
    position: absolute;
    bottom: -50px;
    left: 50%;
    @include translate(-50%, 0);
    opacity: 0;

    &.show {
      opacity: 1;
    }

    &.changed {
      bottom: -65px;
      font-size: 18px;
    }
  }
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform-origin: 50% 50% 25px;
  transform: rotate(-180deg) translateX(5px);
  transition: transform 0.15s;
  opacity: 0;

  &.in {
    transform: rotate(0deg) translateX(0);
  }

  &.enable {
    opacity: 1;
  }
}


@keyframes stroke-fill-yellow {
  to {
    stroke-dasharray: 236 628;
  }
}
@keyframes stroke-fill-green {
  to {
    stroke-dasharray: 168 628;
  }
}
@keyframes stroke-fill-orange {
  to {
    stroke-dasharray: 118 628;
  }
}
@keyframes stroke-fill-blue {
  to {
    stroke-dasharray: 56 628;
  }
}
@keyframes stroke-fill-white {
  to {
    stroke-dasharray: 51 628;
  }
}