.ox-mobile-apps {
  &.enable .mobile-block {
    #phone {
      opacity: 1;
      @include translate(-50%, -50%);
    }

    #gradient,
    #envelop {
      opacity: 1;
    }

    #text-left,
    #text-right {
      opacity: 1;
      @include translate(0, 0);
    }
  }

  .mobile-block {
    position: relative;
    height: 400px;

    #phone,
    #phone-half {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transition(all 1s);
    }

    #phone {
      opacity: 0;
      z-index: 2;
      @include translate(0%, -55%);

      // .ca-1 {fill: none;}
      // .ca-2 {fill: #ccc;}
      // .ca-3 {clip-path: url(#clip-path);}
      // .ca-4 {fill: url(#linear-gradient);}
      // .ca-5 {isolation: isolate;}
      // .ca-6 {fill: #fff;}
    }

    #phone-half {
      z-index: 4;
      display: none;
      @include translate(-50%, -50%);

      // .cb-1 {fill: none;}
      // .cb-2 {clip-path: url(#clip-pathn);}
      // .cb-3 {fill: #ccc;}
      // .cb-4 {clip-path: url(#clip-pathn-2);}
      // .cb-5 {fill: url(#linear-gradient);}
      // .cb-6 {fill: #fff;}
    }

    #gradient {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transition(all 2s 0.5s);
      @include translate(-50%, -50%);
      z-index: 1;
      opacity: 0;

      // .cc-1 {
      //   fill: url(#radial-gradient);
      // }
    }

    #text-left,
    #text-right {
      position: absolute;
      @include transition(all 2s 1s);
      opacity: 0;
    }

    #text-left {
      top: 8%;
      left: 18%;
      @include translate(-100px, 100px);

      .cd-1 {
        fill: #fff;
      }
    }

    #text-right {
      bottom: 12%;
      right: 15%;
      @include translate(100px, -100px);


      .ce-1 {
        isolation: isolate;
      }

      .ce-2 {
        fill: #fff;
      }
    }

    #envelop {
      overflow: hidden;
      position: absolute;
      width: 200px;
      height: 200px;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      @include transition(opacity 1s 1s);
      z-index: 3;
      opacity: 0;

      .envelop-wraper {
        position: absolute;
        animation-name: example;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        zoom: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        // animation-delay: 2s;

        @for $i from 1 to 3 {
          &:nth-child(#{$i}) {
            animation-delay: 2.5s * $i;
          }
        }

        svg {
          position: absolute;

          @for $i from 1 to 4 {
            &:nth-child(#{$i}) {
              bottom: 45px * $i;
              left: 90px * $i;
            }
          }
        }

        @keyframes example {
          0%   {
            @include translate(-400px, 350px);
          }
          100% {
            @include translate(150px, 70px);
          }
        }

        .cf-1 {
          fill: #fff;
        }
      }
    }
  }
}
// .ox-mobile-apps.enable .mobile-block #phone {
//   opacity: 1;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }
// .ox-mobile-apps.enable .mobile-block #gradient,
// .ox-mobile-apps.enable .mobile-block #envelop {
//   opacity: 1;
// }
// .ox-mobile-apps.enable .mobile-block #text-left,
// .ox-mobile-apps.enable .mobile-block #text-right {
//   opacity: 1;
//   -webkit-transform: translate(0, 0);
//   transform: translate(0, 0);
// }
// .ox-mobile-apps .mobile-block {
//   position: relative;
//   height: 400px;
// }
// .ox-mobile-apps .mobile-block #phone,
// .ox-mobile-apps .mobile-block #phone-half {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   -webkit-transition: all 1s;
//   transition: all 1s;
// }
// .ox-mobile-apps .mobile-block #phone {
//   opacity: 0;
//   z-index: 2;
//   -webkit-transform: translate(0%, -55%);
//   transform: translate(0%, -55%);
// }
// .ox-mobile-apps .mobile-block #phone .ca-1 {
//   fill: none;
// }
// .ox-mobile-apps .mobile-block #phone .ca-2 {
//   fill: #ccc;
// }
// .ox-mobile-apps .mobile-block #phone .ca-3 {
//   clip-path: url(#clip-path);
// }
// .ox-mobile-apps .mobile-block #phone .ca-4 {
//   fill: url(#linear-gradient);
// }
// .ox-mobile-apps .mobile-block #phone .ca-5 {
//   isolation: isolate;
// }
// .ox-mobile-apps .mobile-block #phone .ca-6 {
//   fill: #fff;
// }
// .ox-mobile-apps .mobile-block #phone-half {
//   z-index: 4;
//   display: none;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }
// .ox-mobile-apps .mobile-block #phone-half .cb-1 {
//   fill: none;
// }
// .ox-mobile-apps .mobile-block #phone-half .cb-2 {
//   clip-path: url(#clip-pathn);
// }
// .ox-mobile-apps .mobile-block #phone-half .cb-3 {
//   fill: #ccc;
// }
// .ox-mobile-apps .mobile-block #phone-half .cb-4 {
//   clip-path: url(#clip-pathn-2);
// }
// .ox-mobile-apps .mobile-block #phone-half .cb-5 {
//   fill: url(#linear-gradient);
// }
// .ox-mobile-apps .mobile-block #phone-half .cb-6 {
//   fill: #fff;
// }
// .ox-mobile-apps .mobile-block #gradient {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   -webkit-transition: all 2s 0.5s;
//   transition: all 2s 0.5s;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   z-index: 1;
//   opacity: 0;
// }
// .ox-mobile-apps .mobile-block #gradient .cc-1 {
//   fill: url(#radial-gradient);
// }
// .ox-mobile-apps .mobile-block #text-left,
// .ox-mobile-apps .mobile-block #text-right {
//   position: absolute;
//   -webkit-transition: all 2s 1s;
//   transition: all 2s 1s;
//   opacity: 0;
// }
// .ox-mobile-apps .mobile-block #text-left {
//   top: 8%;
//   left: 18%;
//   -webkit-transform: translate(-100px, 100px);
//   transform: translate(-100px, 100px);
// }
// .ox-mobile-apps .mobile-block #text-left .cd-1 {
//   fill: #fff;
// }
// .ox-mobile-apps .mobile-block #text-right {
//   bottom: 12%;
//   right: 15%;
//   -webkit-transform: translate(100px, -100px);
//   transform: translate(100px, -100px);
// }
// .ox-mobile-apps .mobile-block #text-right .ce-1 {
//   isolation: isolate;
// }
// .ox-mobile-apps .mobile-block #text-right .ce-2 {
//   fill: #fff;
// }
// .ox-mobile-apps .mobile-block #envelop {
//   overflow: hidden;
//   position: absolute;
//   width: 200px;
//   height: 200px;
//   left: 50%;
//   top: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   -webkit-transition: opacity 1s 1s;
//   transition: opacity 1s 1s;
//   z-index: 3;
//   opacity: 0;
// }
// .ox-mobile-apps .mobile-block #envelop .envelop-wraper {
//   position: absolute;
//   animation-name: example;
//   animation-duration: 5s;
//   animation-iteration-count: infinite;
//   animation-timing-function: linear;
//   zoom: 1;
//   -webkit-transform: translateZ(0);
//   transform: translateZ(0);
// }
// .ox-mobile-apps .mobile-block #envelop .envelop-wraper:nth-child(1) {
//   animation-delay: 2.5s;
// }
// .ox-mobile-apps .mobile-block #envelop .envelop-wraper:nth-child(2) {
//   animation-delay: 5s;
// }
// .ox-mobile-apps .mobile-block #envelop .envelop-wraper svg {
//   position: absolute;
// }
// .ox-mobile-apps .mobile-block #envelop .envelop-wraper svg:nth-child(1) {
//   bottom: 45px;
//   left: 90px;
// }
// .ox-mobile-apps .mobile-block #envelop .envelop-wraper svg:nth-child(2) {
//   bottom: 90px;
//   left: 180px;
// }
// .ox-mobile-apps .mobile-block #envelop .envelop-wraper svg:nth-child(3) {
//   bottom: 135px;
//   left: 270px;
// }
// @keyframes example {
//   0% {
//     -webkit-transform: translate(-400px, 350px);
//     transform: translate(-400px, 350px);
//   }
//   100% {
//     -webkit-transform: translate(150px, 70px);
//     transform: translate(150px, 70px);
//   }
// }
// .ox-mobile-apps .mobile-block #envelop .envelop-wraper .cf-1 {
//   fill: #fff;
// }
