.premise-eye-candy {
  display: inline-block;
  position: relative;
  height: 316px;
  width: 316px;
  margin-bottom: 50px;
  box-shadow: 10px -15px 100px rgba(255,255,255,0.2);
  border-radius: 50%;

  .title {
    font-size: 25px;
    position: absolute;
    // bottom: -27px;
    bottom: 0px;
    z-index: 2;
    left: 80px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 19px;
    opacity: 0.6;
    position: absolute;
    // bottom: -80px;
    bottom: -50px;
    left: 140px;
    font-weight: 700;
  }

  .shadows {
    background-image: url("/typo3conf/ext/sem_ox_content/Resources/Public/Images/premise-shadows-on-top.png");
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC");

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
    }

    &:before {
      // box-shadow: inset 15px -25px 100px $dark-blue;
      box-shadow: inset 15px -25px 150px rgba(0,0,0,0.5);
      z-index: 1;
    }

    &:after {
      box-shadow: inset -15px 15px 50px rgba(255,255,255,0.4);
      z-index: 2;
    }
  }

  .map {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    -webkit-animation: move-map 30s infinite linear;
    animation: move-map 30s infinite linear;
  }

  // Premise Dot
  .premise-dot {
    position: relative;
  }

  .first-circle,
  .second-circle,
  .third-circle {
    border-radius: 50%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.7;
  }

  .first-circle {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    z-index: 1;
  }

  .second-circle {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    z-index: 2;
  }

  .third-circle {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    z-index: 3;
  }

  /** Eye Candy
  * On page Career, the on-premise eye candy was reused.
  * Due to the different text lengths, the positions needed to be changed
  */
  &.ox-nationalities {
    .title {
      left:35px;
    }

    .subtitle {
      left:60px;
    }
  }

  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0.7;
    }
    /* Finish changes by here */
    50% {
      -webkit-transform: scale(10);
      transform: scale(10);
      opacity: 0.0;
    }

    /* Between 50% and 100%, nothing changes */
    100% {
      -webkit-transform: scale(10);
      transform: scale(10);
      opacity: 0.0;
    }
  }

  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0.7;
    }
    /* Finish changes by here */
    50% {
      -webkit-transform: scale(10);
      transform: scale(10);
      opacity: 0.0;
    }

    /* Between 50% and 100%, nothing changes */
    100% {
      -webkit-transform: scale(10);
      transform: scale(10);
      opacity: 0.0;
    }
  }

  @-webkit-keyframes move-map {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(-647px);
      transform: translateX(-647px);
    }
  }

  @keyframes move-map {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(-647px);
      transform: translateX(-647px);
    }
  }
}
