.sen-ox-speakers {
  .speakers-header {
    margin-top: 100px;
    margin-bottom: 20px;

    .speakers-header-text {
      font-size: 45px;
      font-weight: 300;
      color: $graphite-black;
      line-height: 49px;

      span {
        font-size: 45px;
        color: $black;
        line-height: 49px;
        font-weight: 800;
      }
    }

    .speakers-header-date {
      font-size: 32px;
      color: $graphite-black;
      line-height: 27px;
      font-weight: 300;
    }

    .speakers-header-img {
      padding: 0px;

      img {
        width: 120px;
        height:120px;
      }
    }
  }

  .speakers-panel {
    padding-top: 70px;
    box-shadow: none;
    padding-bottom: 9px;
    margin: 0;

    .panel-title {
      @include flex();

      .speaker-title {
        flex-grow: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        display: inline-block;
        margin-left: 37px;
        border-bottom: 1px solid $grey;
        padding-bottom: 20px;
        padding-top: 15px;
        margin-bottom: 5px;
        @include flex();
        justify-content: center;
        flex-direction: column;

        p {
          padding-left: 33px;
          font-size: 14px;
          color: $graphite-black;
          line-height: 27px;
          margin-bottom: 0px;
        }

        a {
          padding-left: 33px;
          position: relative;
          font-weight: 700;
          font-size: 32px;
          color: $graphite-black;
          margin-bottom: 0px;

          &:before {
            font-size: 25px;
            width: 27px;
            height: 27px;
            top: 10px;
            @include transition(all 0.5s);
          }

          &:not(.collapsed):before {
            @include rotate(-90deg);
          }
        }
      }
    }

    .panel-collapse {
      padding-top: 25px;
      padding-left: 190px;

      .accordeon-content-row {
        .first-col {
          padding-right: 10%;
        }

        .second-col {
          padding-right: 5%;
        }

        .accordeon-content-item {
          margin-bottom: 30px;

          li {
            font-weight: 400;
            font-size: 14px;
            line-height: 27px;
          }
        }

        .accordeon-content-bio p {
          margin-bottom: 30px;
        }

        .accordeon-content-agenda li span {
          font-size: 11px;
          color: $grey;
          padding-left: 20px;
          position: relative;

          &:before {
            font-size: 11px;
            color: $grey;
            top: 2px;
          }
        }

        .accordeon-content-social {
          li {
            line-height: 18px;
          }

          a {
            color: $graphite-black;

            &:before {
              color: $white;
            }
          }
        }

        .accordeon-content-web a {
          color: $graphite-black;
          padding-left: 17px;
          position: relative;

          &:before {
            left: -5px;
          }
        }
      }
    }
  }

  .col-speakers-btn {
    padding: 81px 0px 40px;
    text-align: center;
  }
}
