main #video-section {
  position: relative;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: -1px 0 -1px -1px;

  .videobg, #vimelar-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);

    &.port {
      width: auto;
      height: 100%;
    }

    &.land {
      width: 100vw;
      height: auto;
    }
  }

  iframe.videobg {
    width: auto;
    height: auto;
  }

  &.fullheight, &.hfull {
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  &.h300 {
    height: 300px;
  }

  &.h500 {
    height: 500px;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &.text-white {
    color: #fff;
    .container {

      h1, h3, p {
        color: #fff;
      }
    }
  }

}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
  main #video-section {
    &.height300 {
      h1 {
        font-size: 28px;
      }

      h3  {
        font-size: 28px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  main #video-section {
    &.height300 {
      .videobg {
        width: auto !important;
        min-height: 300px;
      }
    }
    &.height500 {
      .videobg {
        width: auto !important;
        min-height: 500px;
      }
    }
  }
}


@media screen and (min-width: $screen-sm-min) {
  main #video-section {
    background-image: none !important;

    .videobg, #vimelar-container {
      display: block;
    }

  }
}

@media screen and (max-width: $screen-xs-max) {
  #video-section {
    .container {

      h1 {
        font-size: 32px;
      }

      h3  {
        font-size: 32px;
      }

      p {
        font-size: 20px;
      }
    }

    &.height300 {
      .container {

        h1 {
          font-size: 32px;
        }

        h3  {
          font-size: 32px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  #video-section {
    &.height300 {
      .container {

        h1 {
          font-size: 26px;
          line-height: 1.1;
        }

        h3  {
          font-size: 26px;
          line-height: 1.1;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}