.home-slider {
  min-height: 550px;
  // padding: 0;
  padding-top: 0px;
  padding-bottom: 5px;

  .item {
    padding-top: 100px;

    &.slick-slide:focus {
      outline: none!important;
    }

    img {
      width: 470px;
      height: auto;
    }

    .slider-content {
      h1, .h1 {
        line-height: 1.25;
        // font-size: 55px;
        margin: 10px 0;
      }

      p.h5 {
        font-weight: bold;
        // font-size: 22px;
        margin-bottom: 10px!important;
      }
    }
  }
}
