.slide-left {
  @include translate(20px,0);
  opacity: 0;
}

.slide-right {
  @include translate(-20px,0);
  opacity: 0;
}

.slide-up {
  @include translate(0,20px);
  opacity: 0;
}

.slide-left.animated{
  -webkit-animation-name: slide-left;
          animation-name: slide-left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.slide-right.animated {
  -webkit-animation-name: slide-right;
          animation-name: slide-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.slide-up.animated {
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes slide-up {
  from {
    @include translate(0,20px);
    opacity: 0;
  }

  to {
    @include translate(0,0);
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    @include translate(0,20px);
    opacity: 0;
  }

  to {
    @include translate(0,0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-left {
  from {
    @include translate(20px,0);
    opacity: 0;
  }

  to {
    @include translate(0px,0);
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    @include translate(20px,0);
    opacity: 0;
  }

  to {
    @include translate(0px,0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-right {
  from {
    @include translate(-20px,0);
    opacity: 0;
  }

  to {
    @include translate(0px,0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    @include translate(-20px,0);
    opacity: 0;
  }

  to {
    @include translate(0px,0);
    opacity: 1;
  }
}
