// Arrows ------------------------------
.slick-arrow {
  position: absolute;
  top: 50%;
  @include translate(0, -50%);
  z-index: 2;
  height: auto;
  width: auto;

  &:before {
    font-family: FontAwesome;
    color: $white;
    padding: 0 16px;
    margin: 0;
    opacity: 1;
    font-size: 50px;
    @include transition(opacity 0.5s);
    text-shadow: 0 2px 4px #000000;
  }

  &:hover:before {
    opacity: 0.7;
  }

  &.slick-prev {
    left: 0;

    &:before {
      content: '\f104';
    }
  }

  &.slick-next {
    right: 0;

    &:before {
      content: '\f105';
    }
  }
}
// End arrows ---------------------------

// Dots --------------------------------
.slick-dots {
  text-align: center;
  margin-top: 10px;

  li {
    display: inline-block;
    margin: 0!important;

    button {
      padding: 0;

      &:before {
        content: '';
        background: $white;
        border-radius: 50%;
        display: inline-block;
        margin: 5px 4px;
        width: 12px;
        height: 12px;
        opacity: 1;
        @include transition(background 0.3s);
        @include box-shadow(0 1px 1px #9B9B9B);
      }

      &:hover:before {
        background: $ice-blue;
      }
    }

    &.slick-active button:before {
      background: $ice-blue;
    }
  }
}
// End dots ---------------------------------

.slide-item,
.slick-slide {
  & > a {
    margin-bottom: 0;

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 100%;
  }

  .title {
    text-align: center;
    font-weight: 300;
    color: $graphite-black;
    margin-bottom: 15px;
    margin-top: 15px;

    h3 {
      font-size: 25px;
    }

    h5 {
      font-size: 16px;
    }

    ul {
      li {
        display: inline-block;
        margin-right: 12px;
      }
    }
  }
}
