.testimonials {
  &.container {
    padding-left: 0;
    padding-right: 0;
  }

  .slick-slider {
    .slick-list {
      min-height: 165px;
    }
  }

  .slick-track {
    @include flex();
    align-items: center;

    .item {
      @include flex();
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      // min-height: 250px;
      min-height: 130px;
      padding: 0px 100px;
      justify-content: center;

      .slider-link {
        display: flex;
        min-width: 120px;
      }

      .slider-image {
        width: 120px;
        height: auto;
        border-radius: 50%;
      }

      &:focus {
        outline: none;
      }

      .text-wrapper {
        padding: 0 30px;
        // padding: 0px 5% 0px 37px;
      }

      h6 {
        margin-bottom: 0;

        :first-child {
          font-weight: 800;
          font-size: 12px;
        }

        :last-child {
          font-size: 12px;
        }
      }
    }
  }
}
